all_flows
[{"id":"bbcebd03.503cf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"64399be2.de2ccc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c6ee9baa.efc48","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8e8f3b1d.195f68","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"1ee251b4.d53dae","type":"mqtt-broker","name":"main","broker":"192.168.0.77","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9409b628.d60bd8","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"610ef271.2d6ec4","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"799081ad.e9539","type":"websocket-listener","z":"8e8f3b1d.195f68","path":"/ws/simple","wholemsg":"false"},{"id":"d3d8e32.d4480a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4dc73b9d.462bbc","type":"ui_tab","name":"Кухня","icon":"dashboard"},{"id":"69d3f85c.ee6df","type":"ui_tab","name":"Спальня","icon":"dashboard","order":2},{"id":"8a534fba.b5b77","type":"ui_tab","name":"Тепла підлога","icon":"dashboard","order":3},{"id":"19aaaccd.0b47b3","type":"ui_tab","name":"Коридор","icon":"dashboard","order":4},{"id":"9a3abc8.ab772c","type":"ui_group","name":"Main","tab":"69d3f85c.ee6df","order":1,"disp":false,"width":"6","collapse":false},{"id":"757b7336.e5bfb4","type":"ui_group","name":"main2","tab":"4dc73b9d.462bbc","order":1,"disp":false,"width":"6","collapse":false},{"id":"d271d81c.8ba588","type":"ui_group","name":"ТП","tab":"8a534fba.b5b77","order":1,"disp":true,"width":"6","collapse":false},{"id":"d300faa0.cd9738","type":"ui_group","name":"Світло","tab":"19aaaccd.0b47b3","order":1,"disp":true,"width":"6","collapse":false},{"id":"37a73a09.b05ac6","type":"ui_group","name":"Jira","tab":"","disp":true,"width":"6","collapse":false},{"id":"ad915993.412978","type":"ui_group","name":"Auth","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba93dea6.5c7d58","type":"telegram bot","botname":"TestBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"10"},{"id":"6fcf5fcd.ae4e68","type":"telegram bot","z":"64399be2.de2ccc","botname":"FrogeyeBot"},{"id":"fe928031.fcab68","type":"telegram bot","z":"64399be2.de2ccc","botname":"FrogeyeBot"},{"id":"a2bed57a.a66a88","type":"telegram bot","z":"64399be2.de2ccc","botname":"FrogeyeBot"},{"id":"3f27c7ae.ad7ac","type":"telegram bot","z":"64399be2.de2ccc","botname":"FrogeyeBot"},{"id":"bf899554.d01138","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"1","baseapiurl":"","pollinterval":""},{"id":"aeba065.a9196f8","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""},{"id":"d61a35ad.77e1c8","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""},{"id":"95ea2f42.473f2","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""},{"id":"7984db53.16f574","type":"telegram bot","z":"8e8f3b1d.195f68","botname":"HeinzBot"},{"id":"befea48e.4167e8","type":"telegram bot","botname":"SHC","usernames":"","chatids":"336759477","baseapiurl":"","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5bf52fd6.7e8c1","type":"telegram bot","z":"8e8f3b1d.195f68","botname":"HeinzBot","usernames":"","chatids":""},{"id":"a2df6774.f63688","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":""},{"id":"1047822a.ec62fe","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"1","baseapiurl":"","pollinterval":""},{"id":"6541ad46.577314","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""},{"id":"1f9f13e4.99978c","type":"telegram bot","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""},{"id":"c54481d0.19723","type":"telegram bot","z":"c6ee9baa.efc48","botname":"HeinzBot"},{"id":"88aaadc3.b546e","type":"ngrokauth"},{"id":"25c261e6.398ea6","type":"graphql-server","endpoint":"https://graphql.planetakino.ua/graphql","name":"Planeta"},{"id":"5c26355f.6e3bbc","type":"graphql-server","endpoint":"http://gstephens.org:4000/","name":"gstephens"},{"id":"65dab3fc.8ca4fc","type":"graphql-server","endpoint":"https://developer.deutschebahn.com/free1bahnql/graphql","token":"","name":"Deutsche Bahn"},{"id":"7c6e672f.1441b8","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"shc","name":""},{"id":"22697960.0fe036","type":"google auth","name":"ma"},{"id":"95929a70.2749a8","type":"google auth","name":"ma"},{"id":"fbdf9cdf.adcde","type":"google-service-account","name":"Sheets","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"42ae7c11.181974","type":"gauth","name":"googlesheet@delta-surf-379711.iam.gserviceaccount.com"},{"id":"7085bc1c.c24b04","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":580,"wires":[]},{"id":"413d0bd8.65ca2c","type":"mqtt in","z":"bbcebd03.503cf","name":"","topic":"Кухня/Температура","qos":"2","broker":"1ee251b4.d53dae","x":550,"y":580,"wires":[["7085bc1c.c24b04","301878e6.851cd","dfae78e9.6fcea8","a9a84572.64aef8","40c3b528.18eb0c","515e5483.886104"]]},{"id":"c272b059.3070e8","type":"mqtt in","z":"bbcebd03.503cf","name":"","topic":"Спальня/Температура","qos":"2","broker":"1ee251b4.d53dae","x":620,"y":640,"wires":[["7085bc1c.c24b04","301878e6.851cd","4e00a11.3af4de","a9a84572.64aef8","515e5483.886104","6d4ebc8c.ea8cbc"]]},{"id":"80da7b3a.9f99a8","type":"mqtt out","z":"bbcebd03.503cf","name":"","topic":"Кухня","qos":"","retain":"","broker":"1ee251b4.d53dae","x":910,"y":960,"wires":[]},{"id":"b1f9b4af.6155b","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1040,"wires":[["f8918015.098988","80da7b3a.9f99a8"]]},{"id":"f8918015.098988","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":1180,"wires":[]},{"id":"fe663dc4.0b971","type":"mqtt out","z":"bbcebd03.503cf","name":"","topic":"Спальня","qos":"","retain":"","broker":"1ee251b4.d53dae","x":900,"y":1160,"wires":[]},{"id":"1c739d0a.c348ab","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/0/5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/1/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1120,"wires":[["fe663dc4.0b971","f8918015.098988"]]},{"id":"c4dde814.758b38","type":"http response","z":"bbcebd03.503cf","name":"","statusCode":"","headers":{},"x":1410,"y":200,"wires":[]},{"id":"f63f57ed.decf","type":"http in","z":"bbcebd03.503cf","name":"/controllers","url":"/controllers","method":"get","upload":false,"swaggerDoc":"","x":540,"y":240,"wires":[["987d5989.d1e458"]]},{"id":"987d5989.d1e458","type":"template","z":"bbcebd03.503cf","name":"controllers","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>test1</title>\n</head>\n<body>testing here...</body>\n</html>","output":"str","x":730,"y":240,"wires":[[]]},{"id":"9adfabc0.6fc278","type":"template","z":"bbcebd03.503cf","name":"rooms","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>test1</title>\n</head>\n<body>testing here...</body>\n</html>","output":"str","x":690,"y":180,"wires":[[]]},{"id":"d24799a6.aeffb","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":380,"wires":[]},{"id":"1dd85569.14332b","type":"http in","z":"bbcebd03.503cf","name":"/rooms","url":"/rooms","method":"get","upload":false,"swaggerDoc":"","x":530,"y":180,"wires":[["9adfabc0.6fc278"]]},{"id":"40c3b528.18eb0c","type":"function","z":"bbcebd03.503cf","name":"","func":"\nglobal.set(\"Kitchen_temp\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":400,"wires":[["ef43fe36.933dd"]]},{"id":"ef43fe36.933dd","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":400,"wires":[]},{"id":"b70cf6b2.738c48","type":"http in","z":"bbcebd03.503cf","name":"/statistic","url":"/statistic","method":"get","upload":false,"swaggerDoc":"","x":540,"y":300,"wires":[["e2ad0d25.f7783"]]},{"id":"e2ad0d25.f7783","type":"template","z":"bbcebd03.503cf","name":"statistic","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>test1</title>\n</head>\n<body>testing here...</body>\n</html>","output":"str","x":720,"y":300,"wires":[[]]},{"id":"515e5483.886104","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":500,"wires":[["d24799a6.aeffb","9b9377.bdb14c88"]]},{"id":"9b9377.bdb14c88","type":"delay","z":"bbcebd03.503cf","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[[]]},{"id":"6d4ebc8c.ea8cbc","type":"function","z":"bbcebd03.503cf","name":"","func":"\nglobal.set(\"Badroom_temp\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":440,"wires":[["98196852.63aca8"]]},{"id":"98196852.63aca8","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":440,"wires":[]},{"id":"1b0c6af3.24a605","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"var kitchen_temp = global.get(\"Kitchen_temp\");\nvar badroom_temp = global.get(\"Badroom_temp\");\nvar badroom_light = global.get(\"Badroom_light\");\nvar kitchen_floor = global.get(\"Kitchen_floor\");\nvar kitchen_light = global.get(\"Kitchen_light\");\nvar kitchen_light_main = global.get(\"Kitchen_light_main\");\nvar kitchen_light_table = global.get(\"Kitchen_light_table\");\nvar shower_temp = global.get(\"Shower_temp\");\nvar bathroom_temp = global.get(\"Bathroom_temp\");\nvar korudor_temp = global.get(\"Korudor_temp\");\nvar hall_floor = global.get(\"Hall_floor\");\nvar shower_floor = global.get(\"Shower_floor\");\nvar bathroom_floor = global.get(\"Bathroom_floor\");\nvar ngrok = global.get(\"ngrok\");\nvar ngrok_motion = global.get(\"ngrok_motion\");\nvar ngrok_ssh = global.get(\"ngrok_ssh\");\n\n\nvar helpMessage = \"Температура в кухні - \" + kitchen_temp;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Температура в спальні - \" + badroom_temp;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Температура в душовій - \" + shower_temp;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Температура в ванній - \" + bathroom_temp;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Температура в коридорі - \" + korudor_temp;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Підлога в кухні - \" + kitchen_floor;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Люстра в кухні - \" + kitchen_light_main;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Світло в кухні над стільницею - \" + kitchen_light_table;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Світло в кухні - \" + kitchen_light;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Світло в спальні - \" + badroom_light;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Підлога у ванній - \" + bathroom_floor;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Підлога в душовій - \" + shower_floor;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Підлога в  коридорі- \" + hall_floor;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Ngrok- \" + ngrok;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Ngrok_ssh- \" + ngrok_ssh;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"BTC \" + global.get(\"BTC\")+\" \\r\\nETH \" +global.get(\"ETH\")\n+\" \\r\\nDOGE \" +global.get(\"DOGE\");\nhelpMessage += \"\\r\\n\";\n\n\nhelpMessage += \"/kitchen_floor - підлога в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/badroom_light - світло в спальні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_light - світло в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_light_main - Люстра в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_light_table - Світло над стільницею\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/Bathroom_floor - підлога у ванній\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/Shower_floor - підлога в душовій\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/Hall_floor - підлога в коридорі\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/screenShoot - Останній скрін\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/screenVideo - Останній відос\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/ngrok - перезапустити Ngrok\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/ngrok_motion - перезапустити Ngrok_motion\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/ngrok_ssh - перезапустити Ngrok\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/test - test\";\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":240,"wires":[["7576885e.8e3ec8","6e618eb8.337e3"]]},{"id":"5c97a13e.4e7bb","type":"function","z":"bbcebd03.503cf","name":"Badroom_light","func":"\nglobal.set(\"Badroom_light\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":2040,"wires":[[]]},{"id":"b72ac6fd.360018","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":1820,"wires":[]},{"id":"beaaf552.8f65c","type":"function","z":"bbcebd03.503cf","name":"Kitchen_floor","func":"\nglobal.set(\"Kitchen_floor\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1820,"wires":[["b72ac6fd.360018","a3922a28.2ff388"]]},{"id":"8c80e317.0ca268","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":2040,"wires":[]},{"id":"135d0b42.9f44f5","type":"change","z":"bbcebd03.503cf","name":"Кухня/Підлога","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/1/0","fromt":"str","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/1/1","fromt":"str","to":"Вкл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1820,"wires":[["ef40f715.d1eb18","beaaf552.8f65c"]]},{"id":"e3844ae3.4f879","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/5/1/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/5/1/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2040,"wires":[["5c97a13e.4e7bb"]]},{"id":"70db47d1.ab8768","type":"mqtt in","z":"bbcebd03.503cf","name":"Кухня","topic":"Кухня","qos":"2","broker":"1ee251b4.d53dae","x":280,"y":1860,"wires":[["e4a59aca.07532","b3a12f0c.d8bba","9fda0bb9.b4c0a8","295ba4a4.3280dc","23dede6f.452532"]]},{"id":"3ab524a1.898a4c","type":"mqtt in","z":"bbcebd03.503cf","name":"","topic":"Спальня","qos":"2","broker":"1ee251b4.d53dae","x":300,"y":2040,"wires":[["e3844ae3.4f879","76ff4643.03be"]]},{"id":"d654fbe5.d7bad","type":"mqtt out","z":"64399be2.de2ccc","name":"","topic":"Кухня","qos":"","retain":"","broker":"1ee251b4.d53dae","x":1110,"y":700,"wires":[]},{"id":"b93ea734.46835","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["d654fbe5.d7bad","8315a8e6.492e28"]]},{"id":"d6884c04.a138c","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\ncontext.global.keyboard = { device : '1/1' };\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];","outputs":"1","noerr":0,"initialize":"","finalize":"","x":580,"y":460,"wires":[["7576885e.8e3ec8","8315988d.28b388"]]},{"id":"b1d9104e.8344a8","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == '1/1')\n// {\n\n// if (context.global.keyboard.room == 1)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n// }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":560,"y":500,"wires":[["b93ea734.46835","c1f85a26.6806e8","8315a8e6.492e28"],[]]},{"id":"40182162.bed29","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.room == 5)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"x":540,"y":1160,"wires":[["3d7b1ce9.fa062c"],[]]},{"id":"d00ba423.30a368","type":"mqtt out","z":"64399be2.de2ccc","name":"","topic":"Спальня","qos":"","retain":"","broker":"1ee251b4.d53dae","x":1020,"y":1140,"wires":[]},{"id":"3d7b1ce9.fa062c","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/0/5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/1/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1140,"wires":[["d00ba423.30a368"]]},{"id":"5e9334ba.9844fc","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { room : 5 };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":560,"y":1120,"wires":[["7576885e.8e3ec8"]]},{"id":"ef40f715.d1eb18","type":"switch","z":"bbcebd03.503cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"Вкл","vt":"num","v2":"Викл","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1760,"wires":[["93169a27.1417f8"]]},{"id":"364e43ee.2fe4cc","type":"inject","z":"64399be2.de2ccc","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"true","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"true","payload":"true","payloadType":"bool","x":560,"y":600,"wires":[[]]},{"id":"93169a27.1417f8","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":1760,"wires":[]},{"id":"64fde28e.402c8c","type":"inject","z":"64399be2.de2ccc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"false","payload":"false","payloadType":"bool","x":560,"y":640,"wires":[[]]},{"id":"76ff4643.03be","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1980,"wires":[]},{"id":"85aa8eb0.2d2e78","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"\nvar helpMessage =  \"Раді вас вітати!\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/status - загальна інформація про систему\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_floor - підлога в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/badroom_light - світло в спальні\";\n\n\n\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":160,"wires":[["7576885e.8e3ec8","6e618eb8.337e3"]]},{"id":"917d7b9f.8c324","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":980,"wires":[["80da7b3a.9f99a8","f8918015.098988"]]},{"id":"f41d3c39.e51fd8","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == '2/1')\n\n\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"x":540,"y":760,"wires":[["ab689e82.c8dee","8315a8e6.492e28"],[]]},{"id":"3dfed310.1df7cc","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\ncontext.global.keyboard = { device : '2/1' };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":560,"y":720,"wires":[["7576885e.8e3ec8","8315a8e6.492e28"]]},{"id":"ab689e82.c8dee","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":740,"wires":[["d654fbe5.d7bad"]]},{"id":"e4a59aca.07532","type":"switch","z":"bbcebd03.503cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"o/1/1/0","vt":"str"},{"t":"eq","v":"o/1/1/1","vt":"str"},{"t":"eq","v":"o/1/2/0","vt":"str"},{"t":"eq","v":"o/1/2/1","vt":"str"},{"t":"eq","v":"o/1/3/0","vt":"str"},{"t":"eq","v":"o/1/3/1","vt":"str"},{"t":"eq","v":"o/1/4/0","vt":"str"},{"t":"eq","v":"o/1/4/1","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":480,"y":1860,"wires":[["135d0b42.9f44f5"],["135d0b42.9f44f5"],["c49c86c.29a45f8","b3a12f0c.d8bba"],["c49c86c.29a45f8","b3a12f0c.d8bba"],["e37ffa7c.1fb6b"],["e37ffa7c.1fb6b"],["48314279.c54f0c"],["48314279.c54f0c"]]},{"id":"7892ea5d.bc57e4","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":1860,"wires":[]},{"id":"30794a19.dc4a46","type":"function","z":"bbcebd03.503cf","name":"Kitchen_light_table","func":"\nglobal.set(\"Kitchen_light_table\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1860,"wires":[["7892ea5d.bc57e4"]]},{"id":"c49c86c.29a45f8","type":"change","z":"bbcebd03.503cf","name":"Кухня/Світло","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/2/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/2/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1860,"wires":[["30794a19.dc4a46"]]},{"id":"e5152dca.e5f428","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":920,"wires":[["80da7b3a.9f99a8","f8918015.098988"]]},{"id":"c0a73ddf.79e76","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"4/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"4/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":860,"wires":[["80da7b3a.9f99a8","f8918015.098988"]]},{"id":"30f99d28.97dd02","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { device : '4/1' };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":560,"y":880,"wires":[["7576885e.8e3ec8"]]},{"id":"f71f062c.cc79d","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == '4/1')\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"x":540,"y":940,"wires":[["4186b711.e5c9f"],[]]},{"id":"4186b711.e5c9f","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"4/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"4/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":940,"wires":[["d654fbe5.d7bad"]]},{"id":"688fb2f3.fec66c","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { device : '3/1' };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":560,"y":1020,"wires":[["7576885e.8e3ec8"]]},{"id":"dce38a5.c49e178","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == '3/1')\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":540,"y":1060,"wires":[["c0675ef.87804a"],[]]},{"id":"c0675ef.87804a","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1060,"wires":[["d654fbe5.d7bad"]]},{"id":"4d689009.f2b9a8","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":1900,"wires":[]},{"id":"4ad499cf.d3149","type":"function","z":"bbcebd03.503cf","name":"kitchen_light","func":"\nglobal.set(\"Kitchen_light\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1900,"wires":[["4d689009.f2b9a8"]]},{"id":"e37ffa7c.1fb6b","type":"change","z":"bbcebd03.503cf","name":"Кухня/Світло","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/3/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/3/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1900,"wires":[["4ad499cf.d3149"]]},{"id":"6e573cee.6ba034","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":1940,"wires":[]},{"id":"4eeab837.3ce14","type":"function","z":"bbcebd03.503cf","name":"Kitchen_light_main","func":"\nglobal.set(\"Kitchen_light_main\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1940,"wires":[["6e573cee.6ba034"]]},{"id":"48314279.c54f0c","type":"change","z":"bbcebd03.503cf","name":"Кухня/Світло","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/4/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/4/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1940,"wires":[["4eeab837.3ce14"]]},{"id":"8bd334da.79633","type":"http request","z":"64399be2.de2ccc","name":"controllers","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.168.0.77:1880/controllers","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":300,"wires":[["52eb28c.f2a5dd8"]]},{"id":"6e618eb8.337e3","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":320,"wires":[]},{"id":"75fc4b4a.eb5954","type":"function","z":"64399be2.de2ccc","name":"","func":"global.set(\"Kitchen_light_table\", msg.payload[3].state);\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":300,"wires":[["6e618eb8.337e3"]]},{"id":"bcf571b6.a2b83","type":"inject","z":"64399be2.de2ccc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["8bd334da.79633"]]},{"id":"52eb28c.f2a5dd8","type":"json","z":"64399be2.de2ccc","name":"","property":"payload","action":"","pretty":false,"x":550,"y":300,"wires":[["75fc4b4a.eb5954"]]},{"id":"e581cf2d.da2e68","type":"mqtt in","z":"bbcebd03.503cf","name":"СанВузолВеликий/Температура","topic":"СанВузолВеликий/Температура","qos":"2","broker":"1ee251b4.d53dae","x":580,"y":700,"wires":[["17357d85.deb68a","7085bc1c.c24b04","515e5483.886104","7f6f3203.264f9c"]]},{"id":"cbf2f6fb.476128","type":"mqtt in","z":"bbcebd03.503cf","name":"СанВузолМалий/Температура","topic":"СанВузолМалий/Температура","qos":"2","broker":"1ee251b4.d53dae","x":650,"y":740,"wires":[["17357d85.deb68a","7085bc1c.c24b04","515e5483.886104","c01bdf.ec50042"]]},{"id":"7ab1da96.e3b4dc","type":"mqtt in","z":"bbcebd03.503cf","name":"Коридор/Температура","topic":"Коридор/Температура","qos":"2","datatype":"auto","broker":"1ee251b4.d53dae","x":620,"y":780,"wires":[["17357d85.deb68a","7085bc1c.c24b04","515e5483.886104","cf6a6cdf.a38d38"]]},{"id":"8a01e3b1.ac24d","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1280,"wires":[["c83fc0d7.d5371","1c517b51.949e95"]]},{"id":"f9171e3c.c6e42","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1340,"wires":[["c83fc0d7.d5371","1c517b51.949e95"]]},{"id":"c83fc0d7.d5371","type":"mqtt out","z":"bbcebd03.503cf","name":"","topic":"Коридор","qos":"","retain":"","broker":"1ee251b4.d53dae","x":900,"y":1340,"wires":[]},{"id":"2fcdca59.3f7586","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1400,"wires":[["c83fc0d7.d5371","1c517b51.949e95"]]},{"id":"c01bdf.ec50042","type":"function","z":"bbcebd03.503cf","name":"","func":"\nglobal.set(\"Shower_temp\",msg.payload);\nx = isNaN(parseInt(msg.payload, 10))\nmsg.payload = parseInt(msg.payload, 10);\n\nif (msg.payload > 28 && x == false) \n    {msg.payload = false;}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":740,"wires":[["8e5f7918.a289c8"]]},{"id":"cf6a6cdf.a38d38","type":"function","z":"bbcebd03.503cf","name":"","func":"\nglobal.set(\"Korudor_temp\",msg.payload);\nx = isNaN(parseInt(msg.payload, 10))\nmsg.payload = parseInt(msg.payload, 10);\n\nif (msg.payload > 28 && x == false) \n    {msg.payload = false;}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":780,"wires":[["8667b2b3.c0af3"]]},{"id":"7f6f3203.264f9c","type":"function","z":"bbcebd03.503cf","name":"","func":"global.set(\"Bathroom_temp\",msg.payload);\nx = isNaN(parseInt(msg.payload, 10))\nmsg.payload = parseInt(msg.payload, 10);\n\nif (msg.payload > 28 && x == false) \n    {msg.payload = false;}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1368,"y":700,"wires":[["519b2f1a.1f265"]]},{"id":"c9bdcde1.ff9f3","type":"mqtt in","z":"bbcebd03.503cf","name":"","topic":"Коридор","qos":"2","datatype":"auto","broker":"1ee251b4.d53dae","x":300,"y":2160,"wires":[["21a8ade9.876c1a","bf145e18.2b04b","e04b7fd4.4e86e","c506da7f.9d9e68","8c80e317.0ca268"]]},{"id":"21a8ade9.876c1a","type":"switch","z":"bbcebd03.503cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"o/3/1/0","vt":"str"},{"t":"eq","v":"o/3/1/1","vt":"str"},{"t":"eq","v":"o/3/2/0","vt":"str"},{"t":"eq","v":"o/3/2/1","vt":"str"},{"t":"eq","v":"o/3/3/0","vt":"str"},{"t":"eq","v":"o/3/3/1","vt":"str"},{"t":"eq","v":"o/3/4/0","vt":"str"},{"t":"eq","v":"o/3/4/1","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":490,"y":2160,"wires":[["6d0b8fbb.7639e8"],["6d0b8fbb.7639e8"],["b005956.45fd3e8"],["b005956.45fd3e8"],["622b5000.d740d8"],["622b5000.d740d8"],["c7484676.99d9b8"],["c7484676.99d9b8"]]},{"id":"6d0b8fbb.7639e8","type":"change","z":"bbcebd03.503cf","name":"Ванна/Підлога","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/1/0","fromt":"str","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/1/1","fromt":"str","to":"Вкл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2120,"wires":[["dba60b3a.c2f938"]]},{"id":"b005956.45fd3e8","type":"change","z":"bbcebd03.503cf","name":"Душова/Підлога","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/2/0","fromt":"str","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/2/1","fromt":"str","to":"Вкл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2160,"wires":[["aad9a85c.0e45d"]]},{"id":"622b5000.d740d8","type":"change","z":"bbcebd03.503cf","name":"Коридор/Підлога","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/3/0","fromt":"str","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/3/1","fromt":"str","to":"Вкл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2200,"wires":[["5411da86.77f9b4"]]},{"id":"dba60b3a.c2f938","type":"function","z":"bbcebd03.503cf","name":"Bathroom_floor","func":"\nglobal.set(\"Bathroom_floor\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2120,"wires":[["8c80e317.0ca268"]]},{"id":"aad9a85c.0e45d","type":"function","z":"bbcebd03.503cf","name":"Shower_floor","func":"\nglobal.set(\"Shower_floor\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2160,"wires":[["8c80e317.0ca268"]]},{"id":"5411da86.77f9b4","type":"function","z":"bbcebd03.503cf","name":"Hall_floor","func":"\nglobal.set(\"Hall_floor\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":2200,"wires":[["8c80e317.0ca268"]]},{"id":"6536ad43.a3fa94","type":"http in","z":"bbcebd03.503cf","name":"/floor","url":"/floor","method":"get","upload":false,"swaggerDoc":"","x":530,"y":120,"wires":[["c4dde814.758b38","bf003b1d.4ab6c8","62cb0e9f.d748c"]]},{"id":"bf003b1d.4ab6c8","type":"debug","z":"bbcebd03.503cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":120,"wires":[]},{"id":"62cb0e9f.d748c","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":40,"wires":[["bf003b1d.4ab6c8","b1f9b4af.6155b","2fcdca59.3f7586","8a01e3b1.ac24d","f9171e3c.c6e42"]]},{"id":"d422bf4b.78001","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":1280,"wires":[]},{"id":"efb85bfe.1916a8","type":"template","z":"64399be2.de2ccc","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n    </head>\n    <body>\n        <img style=\"-webkit-user-select: none;\" src=\"http://192.168.0.77:8081\">\n<script>\n\nfunction func() {\n        window.location.reload( false )\n\n// window.stop();\n}\n\nsetTimeout(func, 10000);\n\n</script>\n    </body>\n</html>","x":1110,"y":1340,"wires":[[]]},{"id":"4a5062e0.6276bc","type":"http in","z":"64399be2.de2ccc","name":"","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":980,"y":1420,"wires":[["41d19a3.6fce964"]]},{"id":"ce034d42.e325e","type":"http response","z":"64399be2.de2ccc","name":"","statusCode":"","headers":{},"x":1290,"y":1420,"wires":[]},{"id":"581985fd.966d1c","type":"function","z":"64399be2.de2ccc","name":"","func":"let i = msg.payload.length - 1;\n\n\n  msg.payload = {\n  chatId : global.get(\"chatId\"),\n  content : msg.payload[i],\n  type : 'photo',\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1220,"wires":[["d422bf4b.78001","7576885e.8e3ec8"]]},{"id":"41d19a3.6fce964","type":"function","z":"64399be2.de2ccc","name":"","func":"const testFolder = './motion/';\nconst fs = require('fs');\n\nfs.readdir(testFolder, (err, files) => {\n//for (i=0; i<files.)\n\n//files.forEach(file => {\nlet i = files.length - 1;\n    console.log(files[i]);\n // });\n})\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1420,"wires":[["ce034d42.e325e"]]},{"id":"9e72fd8a.f3f91","type":"function","z":"64399be2.de2ccc","name":"","func":"msg.payload.chatId = 336759477\nglobal.set(\"chatId\",msg.payload.chatId);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1300,"wires":[["b0c0afeb.c8d24"]]},{"id":"8315988d.28b388","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":440,"wires":[]},{"id":"3c1e8e3c.7486c2","type":"function","z":"64399be2.de2ccc","name":"","func":"let i = msg.payload.length - 1;\n\n\n  msg.payload = {\n  chatId : global.get(\"chatId\"),\n  content : msg.payload[i],\n  type : 'video',\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1560,"wires":[["7576885e.8e3ec8","d422bf4b.78001"]]},{"id":"b0c0afeb.c8d24","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1300,"wires":[]},{"id":"69e6382c.5e7728","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"4/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"4/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1480,"wires":[["be2d52d4.3e644"]]},{"id":"be2d52d4.3e644","type":"mqtt out","z":"bbcebd03.503cf","name":"","topic":"Коридор1","qos":"","retain":"","broker":"1ee251b4.d53dae","x":900,"y":1540,"wires":[]},{"id":"c4acabd2.dbd588","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"5/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"5/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1540,"wires":[["be2d52d4.3e644"]]},{"id":"357221fd.64ffce","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"6/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"6/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1600,"wires":[["be2d52d4.3e644"]]},{"id":"b3a12f0c.d8bba","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1640,"wires":[]},{"id":"9fda0bb9.b4c0a8","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"3/1/1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"3/0/1","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":920,"wires":[[]]},{"id":"295ba4a4.3280dc","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"2/1/1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"2/0/1","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":980,"wires":[[]]},{"id":"23dede6f.452532","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1/1/1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1/0/1","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1040,"wires":[["addd4a14.c67838"]]},{"id":"bf145e18.2b04b","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1/1/3","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"1/0/3","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1280,"wires":[["a06785db.090a58"]]},{"id":"e04b7fd4.4e86e","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"2/1/3","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"2/0/3","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1340,"wires":[["bac867f5.e73288"]]},{"id":"c506da7f.9d9e68","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"3/1/3","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"3/0/3","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1400,"wires":[["7ba8273.18987d8"]]},{"id":"831ea7d7.36b608","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"4/1/3","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"4/0/3","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1480,"wires":[[]]},{"id":"b661053c.bebed8","type":"mqtt in","z":"bbcebd03.503cf","name":"","topic":"Коридор1","qos":"2","broker":"1ee251b4.d53dae","x":300,"y":2240,"wires":[["831ea7d7.36b608","ed7c22f0.a33de","3fc820ed.80feb"]]},{"id":"ed7c22f0.a33de","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"5/1/3","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"5/0/3","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1540,"wires":[[]]},{"id":"aa31950f.f79218","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":1680,"wires":[]},{"id":"91195b6c.7f57d8","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"// context.global.keyboard = { pending : true };\ncontext.global.keyboard = { device : 'ngrok' };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":540,"y":1640,"wires":[["7576885e.8e3ec8"]]},{"id":"98599f7d.ad2b5","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == 'ngrok')\n{\n    //context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":520,"y":1680,"wires":[["2008ac53.70d0d4"],[]]},{"id":"2008ac53.70d0d4","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1680,"wires":[[]]},{"id":"5629fd0e.848e64","type":"function","z":"64399be2.de2ccc","name":"","func":"\nglobal.set(\"ngrok\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1680,"wires":[["aa31950f.f79218"]]},{"id":"5fa6901b.78ea9","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":2300,"wires":[]},{"id":"2208f5de.beca7a","type":"inject","z":"64399be2.de2ccc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"on","payload":"on","payloadType":"str","x":290,"y":2280,"wires":[["b0e7932c.b51df"]]},{"id":"c5e8d5e4.a0eae8","type":"exec","z":"64399be2.de2ccc","command":"curl localhost:4040/api/tunnels","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ssh","x":510,"y":2220,"wires":[["123db82c.f09618"],[],[]]},{"id":"b8488f39.3ac43","type":"function","z":"64399be2.de2ccc","name":"","func":"\nmsg.payload.content = msg.payload.tunnels[0].public_url;\nglobal.set(\"ngrok_ssh\",msg.payload.content);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":2180,"wires":[["a1c8aab2.5b8e08","1b0c6af3.24a605"]]},{"id":"123db82c.f09618","type":"json","z":"64399be2.de2ccc","name":"","property":"payload","action":"obj","pretty":false,"x":690,"y":2200,"wires":[["b8488f39.3ac43","5fa6901b.78ea9"]]},{"id":"a1c8aab2.5b8e08","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":2180,"wires":[]},{"id":"43c79044.7468c","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"\n\n\nvar helpMessage = \"\\r\\n\";\nhelpMessage += \"Оновлюю... \";\nhelpMessage += \"\\r\\n\";\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":2100,"wires":[["7576885e.8e3ec8","c5e8d5e4.a0eae8"]]},{"id":"c1f85a26.6806e8","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":480,"wires":[]},{"id":"8315a8e6.492e28","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":520,"wires":[]},{"id":"c20bd291.ba629","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/0/5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/1/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1160,"wires":[["fe663dc4.0b971"]]},{"id":"e27ae6fe.c75f58","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/0/5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/1/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1200,"wires":[["fe663dc4.0b971"]]},{"id":"2f924288.929e4e","type":"function","z":"bbcebd03.503cf","name":"create help text","func":"var text;\nif (msg.payload == \"Вкл\")\n\n{text = \"Включено\"}\nelse \n{text = \"Виключено\"}\n\nvar helpMessage =  text+\" теплу підлогу в \"+msg.room;\n\n\n\n\nmsg.payload = {\"chatId\":336759477,\"type\":\"message\",\"content\":helpMessage}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":1620,"wires":[["62a8393a.9757c8","1c517b51.949e95"]]},{"id":"a3922a28.2ff388","type":"function","z":"bbcebd03.503cf","name":"kitchen_telegram","func":"    msg.room = \"кухні\"\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1760,"wires":[["2f924288.929e4e"]]},{"id":"1c517b51.949e95","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":1300,"wires":[]},{"id":"b0e7932c.b51df","type":"exec","z":"64399be2.de2ccc","command":"ping 8.8.8.8","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":2320,"wires":[["5fa6901b.78ea9"],[],[]]},{"id":"addd4a14.c67838","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Кухня/Підлога","tooltip":"","group":"757b7336.e5bfb4","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":1040,"wires":[["b1f9b4af.6155b","135d0b42.9f44f5"]]},{"id":"f94c5052.ef51f","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Світло","tooltip":"","group":"9a3abc8.ab772c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":1120,"wires":[["1c739d0a.c348ab","e3844ae3.4f879"]]},{"id":"7c777746.fab0e8","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Кухня/Світло Люстра","tooltip":"","group":"757b7336.e5bfb4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":860,"wires":[["48314279.c54f0c","c0a73ddf.79e76"]]},{"id":"a06785db.090a58","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Коридор","tooltip":"","group":"d271d81c.8ba588","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":1280,"wires":[["8a01e3b1.ac24d"]]},{"id":"bac867f5.e73288","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Ванна","tooltip":"","group":"d271d81c.8ba588","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":1340,"wires":[["f9171e3c.c6e42"]]},{"id":"7ba8273.18987d8","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Душова","tooltip":"","group":"d271d81c.8ba588","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":1400,"wires":[["2fcdca59.3f7586"]]},{"id":"45882044.161db","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Коридор світло","tooltip":"","group":"d300faa0.cd9738","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":1480,"wires":[["69e6382c.5e7728"]]},{"id":"cdb67f5b.414b1","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Коридор світло","tooltip":"","group":"d300faa0.cd9738","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":440,"y":1540,"wires":[["c4acabd2.dbd588"]]},{"id":"c925945a.370408","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Світильник лівий","tooltip":"","group":"9a3abc8.ab772c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":1160,"wires":[["c20bd291.ba629"]]},{"id":"608e84be.ea81cc","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Світильник правий","tooltip":"","group":"9a3abc8.ab772c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":1200,"wires":[["e27ae6fe.c75f58"]]},{"id":"dfae78e9.6fcea8","type":"ui_text","z":"bbcebd03.503cf","group":"757b7336.e5bfb4","order":2,"width":"0","height":"0","name":"","label":"Кухня","format":"{{msg.payload}}","layout":"row-left","x":1180,"y":700,"wires":[]},{"id":"4e00a11.3af4de","type":"ui_text","z":"bbcebd03.503cf","group":"9a3abc8.ab772c","order":5,"width":"0","height":"0","name":"","label":"Спальня","format":"{{msg.payload}}","layout":"row-left","x":1180,"y":760,"wires":[]},{"id":"301878e6.851cd","type":"ui_chart","z":"bbcebd03.503cf","name":"","group":"9a3abc8.ab772c","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1150,"y":620,"wires":[[]]},{"id":"a9a84572.64aef8","type":"ui_chart","z":"bbcebd03.503cf","name":"","group":"757b7336.e5bfb4","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1210,"y":820,"wires":[[]]},{"id":"17357d85.deb68a","type":"ui_chart","z":"bbcebd03.503cf","name":"","group":"d271d81c.8ba588","order":1,"width":0,"height":0,"label":"Температура","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1240,"y":940,"wires":[[]]},{"id":"b4d93a29.285528","type":"telegram command","z":"64399be2.de2ccc","name":"/status","command":"/status","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":290,"y":220,"wires":[["1b0c6af3.24a605"]]},{"id":"6213338e.9b38e4","type":"telegram command","z":"64399be2.de2ccc","name":"/kitchen_floor","command":"/kitchen_floor","bot":"befea48e.4167e8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":310,"y":500,"wires":[["d6884c04.a138c"],["b1d9104e.8344a8"]]},{"id":"dbdf7923.5185c8","type":"telegram command","z":"64399be2.de2ccc","name":"/badroom_light","command":"/badroom_light","bot":"befea48e.4167e8","strict":false,"outputs":2,"x":320,"y":1120,"wires":[["5e9334ba.9844fc"],["40182162.bed29"]]},{"id":"5a704f53.e30818","type":"telegram command","z":"64399be2.de2ccc","name":"/start","command":"/start","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":290,"y":160,"wires":[["85aa8eb0.2d2e78"]]},{"id":"762b6c7a.7f6c84","type":"telegram command","z":"64399be2.de2ccc","name":"/kitchen_light_table","command":"/kitchen_light_table","bot":"befea48e.4167e8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":330,"y":740,"wires":[["3dfed310.1df7cc"],["f41d3c39.e51fd8"]]},{"id":"227d8d71.44e5b2","type":"telegram command","z":"64399be2.de2ccc","name":"/kitchen_main","command":"/kitchen_light_main","bot":"befea48e.4167e8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":290,"y":900,"wires":[["30f99d28.97dd02"],["f71f062c.cc79d"]]},{"id":"3357e033.64eaa8","type":"telegram command","z":"64399be2.de2ccc","name":"/kitchen_light","command":"/kitchen_light","bot":"befea48e.4167e8","strict":false,"outputs":2,"x":310,"y":1060,"wires":[["688fb2f3.fec66c","74b4b5b2.3eea3c"],["dce38a5.c49e178","21fd9826.d7ea48"]]},{"id":"57193389.33b29c","type":"telegram command","z":"64399be2.de2ccc","name":"screenShoot","command":"/screenShoot","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":1220,"wires":[["a518ad0.98ddd5","9e72fd8a.f3f91"]]},{"id":"61ca4fd9.8db06","type":"telegram command","z":"64399be2.de2ccc","name":"screenVideo","command":"/screenVideo","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":1560,"wires":[["9e72fd8a.f3f91","d2560333.ec272"]]},{"id":"fc4d7f97.912d8","type":"telegram command","z":"64399be2.de2ccc","name":"ngrok","command":"/ngrok","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":290,"y":1640,"wires":[["91195b6c.7f57d8","98599f7d.ad2b5"]]},{"id":"69113520.97c8ec","type":"telegram command","z":"64399be2.de2ccc","name":"ngrok_ssh","command":"/ngrok_ssh","bot":"befea48e.4167e8","strict":false,"outputs":2,"x":280,"y":2100,"wires":[["43c79044.7468c"],[]]},{"id":"7576885e.8e3ec8","type":"telegram sender","z":"64399be2.de2ccc","name":"send response","bot":"befea48e.4167e8","haserroroutput":false,"outputs":1,"x":1080,"y":160,"wires":[[]]},{"id":"62a8393a.9757c8","type":"telegram sender","z":"bbcebd03.503cf","name":"send response","bot":"befea48e.4167e8","haserroroutput":false,"outputs":1,"x":1480,"y":1620,"wires":[[]]},{"id":"364e550c.e4243a","type":"ngrok","z":"64399be2.de2ccc","port":"1880","creds":"88aaadc3.b546e","region":"eu","subdomain":"","name":"node-red","auth":"","inputs":0,"x":940,"y":1680,"wires":[["5629fd0e.848e64"]]},{"id":"a518ad0.98ddd5","type":"fs-file-lister","z":"64399be2.de2ccc","name":"","start":"/var/lib/motion","pattern":"*.jpg","folders":"","hidden":true,"lstype":"files","path":true,"single":true,"depth":"1","stat":false,"showWarnings":true,"x":540,"y":1220,"wires":[["581985fd.966d1c"]]},{"id":"d2560333.ec272","type":"fs-file-lister","z":"64399be2.de2ccc","name":"","start":"/var/lib/motion","pattern":"*.mkv","folders":"","hidden":true,"lstype":"files","path":true,"single":true,"depth":"1","stat":false,"showWarnings":true,"x":520,"y":1560,"wires":[["3c1e8e3c.7486c2"]]},{"id":"41a30784.da5758","type":"graphql","z":"c6ee9baa.efc48","name":"login","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"plain","template":"mutation {\n  login(login: \"380963561309\", password: \"Planetakino7\")\n}\n","x":290,"y":40,"wires":[["bf935e6.953c9a","9dcb1b59.631e98"],[]]},{"id":"2d60ebe.f995f94","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":400,"wires":[]},{"id":"a0c19761.6d54e","type":"graphql","z":"c6ee9baa.efc48","name":"me","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"mustache","template":"query\n{\n  me(authToken:\"{{payload.login}}\") {\n    firstName\n    lastName\n    customerCard\n    bonuses\n  }\n\n\n}\n","x":470,"y":540,"wires":[["48a961c1.3857a","7d56d8cf.91a468"],["48a961c1.3857a"]]},{"id":"e1c4d426.856e9","type":"graphql","z":"c6ee9baa.efc48","name":"tickets","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"mustache","template":"query {\n  tickets(forceSync:true, authToken:\"{{payload.login}}\") {\n    edges {\n      node {\n        theaterName\n        hallName\n        movieDate\n        movieEndDate\n        movieName\n        transactionId\n        seats {\n          ticketBarcode\n          seatId\n          row\n          seat\n\n        }\n      }\n    }\n}\n}\n\n","x":510,"y":100,"wires":[["9dcb1b59.631e98","d0c7679.e6d1d98","ff040bd7.cecf38"],[]]},{"id":"9dcb1b59.631e98","type":"function","z":"c6ee9baa.efc48","name":"","func":"if (msg.payload.chatId == undefined) {msg.payload.chatId =msg.login.originalMessage.chat.id;}\n//if (msg.payload.login == undefined) {msg.payload.login = msg.login.payload.login}\nif( msg.payload.cycle == undefined ) {msg.payload.cycle = 0;}\n\n\n\nvar ed = msg.payload.tickets.edges.length;\n//var seats = msg.payload.tickets.edges[edges].node.seats.length\nfor (var i = msg.payload.cycle; i<ed;i++)\n{msg.payload.cycle=i;\n    var seat = msg.payload.tickets.edges[i].node.seats.length\n    for(var x=0; x<seat;x++)\n    {\n   \n   \n   \n   msg.payload = {\n  login : msg.payload.login,\n  tickets:msg.payload.tickets,\n  qr : msg.payload.qr,\n  //chatId : 336759477,\n  chatId : msg.payload.chatId,\n  //login:msg.login.payload.login,\n  //type : \"message\",\n  allTickets: msg.payload.tickets.edges.length,\n  cycle: msg.payload.cycle,\n  content : \"https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=\"+msg.payload.tickets.edges[i].node.seats[x].ticketBarcode,\n  type : 'photo',\n  caption: 'Ряд '+msg.payload.tickets.edges[i].node.seats[x].row + \", місце \"+msg.payload.tickets.edges[i].node.seats[x].seat\n};\nreturn msg; \n\n    }\n    \n   \n}","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["88f1cba8.39c808","814df3f6.92204","96d33ff.f787dc"]]},{"id":"553aa337.c5cf9c","type":"function","z":"c6ee9baa.efc48","name":"","func":"msg.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":300,"wires":[["9dcb1b59.631e98"]]},{"id":"50b77629.d13da8","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":160,"wires":[]},{"id":"88f1cba8.39c808","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":200,"wires":[]},{"id":"48a961c1.3857a","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":560,"wires":[]},{"id":"4979fd04.5ad384","type":"http in","z":"c6ee9baa.efc48","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":1160,"y":100,"wires":[["d6fe37b4.38b968"]]},{"id":"d6fe37b4.38b968","type":"template","z":"c6ee9baa.efc48","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n            #qrcode {\n  width:160px;\n  height:160px;\n  margin-top:15px;\n}\n#text {\n  display: block;\n  width: 80%;\n}\n        </style>\n        <script src=\"http://davidshimjs.github.com/qrcodejs/qrcode.min.js\"></script>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n\n\n        \n    </head>\n    <body>\n<input id=\"text\" type=\"hidden\" value={{payload.content}} />\n\n<div id=\"qrcode\"></div>\n        <script>\n        var qrcode = new QRCode(\"qrcode\");\n\n$(\"#text\").on(\"keyup\", function () {\n    qrcode.makeCode($(this).val());\n}).keyup().focus();\n        </script>\n<!-- Post Info -->\n<div style='position:fixed;bottom:0;left:0;    \n            background:lightgray;width:100%;'>\n<div>\n        </body>\n</html>","x":1130,"y":620,"wires":[["7adcfe11.3e63f","814df3f6.92204"]]},{"id":"7adcfe11.3e63f","type":"http response","z":"c6ee9baa.efc48","name":"","statusCode":"","headers":{},"x":1370,"y":80,"wires":[]},{"id":"96d33ff.f787dc","type":"function","z":"c6ee9baa.efc48","name":"","func":"if ( msg.payload.cycle < msg.payload.allTickets ) { msg.payload.cycle++;\n\n    msg.chatId = msg.payload.chatId;\nmsg.login = msg.payload.login;\n//msg.payload.tickets\n\n\nmsg.payload = {\n\nchatId : msg.payload.chatId,\nlogin : msg.payload.login,\ntickets : msg.payload.tickets,\ncycle: msg.payload.cycle\n}\n}\n\n\nelse {msg.payload.message = \"fasle\"}\n\n\n\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":180,"wires":[["2d60ebe.f995f94","9dcb1b59.631e98","50b77629.d13da8"]]},{"id":"bf935e6.953c9a","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":20,"wires":[]},{"id":"f65d0060.16733","type":"function","z":"c6ee9baa.efc48","name":"","func":"msg.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":540,"wires":[["a0c19761.6d54e"]]},{"id":"d0c7679.e6d1d98","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":80,"wires":[]},{"id":"ff040bd7.cecf38","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"login","x":900,"y":120,"wires":[]},{"id":"7d56d8cf.91a468","type":"function","z":"c6ee9baa.efc48","name":"","func":"if (msg.payload.chatId == undefined) {msg.payload.chatId =msg.login.originalMessage.chat.id;}\n\ncontent = msg.payload.me.firstName +\"                                                \"+msg.payload.me.lastName +\"                                              \"+ msg.payload.me.customerCard;\n\n\n   msg.payload = {\n  chatId : msg.payload.chatId,\n  type : \"message\",\n\n  content : content\n    \n};\nreturn msg; \n\n\n    \n   \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":500,"wires":[["814df3f6.92204"]]},{"id":"4dc239ce.eb7b68","type":"graphql","z":"c6ee9baa.efc48","name":"login","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"plain","template":"mutation {\n  login(login: \"380963561309\", password: \"Planetakino7\")\n}\n","x":370,"y":440,"wires":[["a0c19761.6d54e"],[]]},{"id":"bac3e73e.f8d568","type":"telegram command","z":"c6ee9baa.efc48","name":"","command":"/my_tickets","bot":"befea48e.4167e8","strict":false,"outputs":2,"x":60,"y":300,"wires":[["553aa337.c5cf9c"],[]]},{"id":"5a1a4081.062f9","type":"telegram command","z":"c6ee9baa.efc48","name":"","command":"/my_info","bot":"befea48e.4167e8","strict":false,"outputs":2,"x":60,"y":540,"wires":[["f65d0060.16733"],[]]},{"id":"814df3f6.92204","type":"telegram sender","z":"c6ee9baa.efc48","name":"","bot":"befea48e.4167e8","outputs":1,"x":1290,"y":400,"wires":[[]]},{"id":"6c25ca9d.ef25f4","type":"cronplus","z":"bbcebd03.503cf","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 0 4 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":310,"y":2360,"wires":[["225f005f.0204f"]]},{"id":"e90b70fb.adabe","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Кухня/Світло Підсвітка","tooltip":"","group":"757b7336.e5bfb4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":920,"wires":[["e5152dca.e5f428","e37ffa7c.1fb6b"]]},{"id":"a63cb288.b994e","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Кухня/Світло Стільниця","tooltip":"","group":"757b7336.e5bfb4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":980,"wires":[["c49c86c.29a45f8","917d7b9f.8c324"]]},{"id":"59db9115.f7d83","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"4/1/1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"4/0/1","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":860,"wires":[[]]},{"id":"4643f0f3.41bc6","type":"inject","z":"bbcebd03.503cf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2/0/1","payloadType":"str","x":290,"y":680,"wires":[["80da7b3a.9f99a8"]]},{"id":"8d7513c7.1ac25","type":"inject","z":"bbcebd03.503cf","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2/1/1","payloadType":"str","x":290,"y":640,"wires":[["80da7b3a.9f99a8"]]},{"id":"98962e24.0dfb8","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"// context.global.keyboard = { pending : true };\ncontext.global.keyboard = { device : 'ngrok_motion' };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Перезапустити\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":540,"y":1780,"wires":[["7576885e.8e3ec8"]]},{"id":"ea108a33.f95008","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == 'ngrok')\n{\n    //context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":520,"y":1820,"wires":[["1f012edb.f06631"],[]]},{"id":"1f012edb.f06631","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1820,"wires":[[]]},{"id":"2fd121b6.522e7e","type":"telegram command","z":"64399be2.de2ccc","name":"ngrok_motion","command":"/ngrok_motion","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":1780,"wires":[["98962e24.0dfb8","ea108a33.f95008"]]},{"id":"337b3c08.22dad4","type":"ngrok","z":"64399be2.de2ccc","port":"8080","creds":"88aaadc3.b546e","region":"eu","proto":"http","subdomain":"","name":"motion","auth":"","inputs":0,"x":930,"y":1820,"wires":[["ed32d4bb.822f28"]]},{"id":"d93c61c.629d7a","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":1820,"wires":[]},{"id":"ed32d4bb.822f28","type":"function","z":"64399be2.de2ccc","name":"","func":"\nglobal.set(\"ngrok_motion\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1820,"wires":[["d93c61c.629d7a"]]},{"id":"225f005f.0204f","type":"http request","z":"bbcebd03.503cf","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/forecast/daily?q=Kyiv&appid=d01946c71f847270df726ba46cc786b6&mode=json&units=metric&cnt=2","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":2360,"wires":[["2f83d863.c22888"]]},{"id":"2f83d863.c22888","type":"function","z":"bbcebd03.503cf","name":"","func":"  function Unix_timestamp(t) {\n  var dt = new Date(t * 1000);\n  return dt.getDate();}\n  \n var cur_datetime = new Date();\n  for (var i = 0; i < 10; i++)\n  {\n     if (cur_datetime.getDate() == Unix_timestamp(msg.payload.list[i].dt)) {\n          if (msg.payload.list[i].temp.morn < 0) {\n              msg.payload = 1;\n              break;\n          }\n          else msg.payload = 0;\n }\n else msg.payload = 0;\n\n }\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":2360,"wires":[["a8fcfbe2.cfdbe8"]]},{"id":"817f461f.aa45c8","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":2340,"wires":[]},{"id":"f022f538.462898","type":"debug","z":"bbcebd03.503cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":2400,"wires":[]},{"id":"a8fcfbe2.cfdbe8","type":"switch","z":"bbcebd03.503cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":2360,"wires":[["1de75acd.269e05","817f461f.aa45c8"],["f022f538.462898"]]},{"id":"1de75acd.269e05","type":"http request","z":"bbcebd03.503cf","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.77:1880/floor","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":2300,"wires":[["817f461f.aa45c8"]]},{"id":"2e9a46fc.41d55a","type":"ui_switch","z":"bbcebd03.503cf","name":"","label":"Test","tooltip":"","group":"d271d81c.8ba588","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":1440,"wires":[["46379760.9cee48"]]},{"id":"c75c3785.4635b8","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"4/1/3","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"4/0/3","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1440,"wires":[["2e9a46fc.41d55a"]]},{"id":"46379760.9cee48","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"4/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"4/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1440,"wires":[["c83fc0d7.d5371","1c517b51.949e95"]]},{"id":"c7484676.99d9b8","type":"change","z":"bbcebd03.503cf","name":"Душова/Підлога","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/4/0","fromt":"str","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/3/4/1","fromt":"str","to":"Вкл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2240,"wires":[["6a031076.a4afe"]]},{"id":"6a031076.a4afe","type":"function","z":"bbcebd03.503cf","name":"Test_floor","func":"\nglobal.set(\"test_floor\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":2240,"wires":[["8c80e317.0ca268"]]},{"id":"98c88585.239d88","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\ncontext.global.keyboard = { device : '1/3' };\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1540,"y":600,"wires":[["7576885e.8e3ec8"]]},{"id":"3a00e1e2.43ba5e","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == '1/3')\n// {\n\n// if (context.global.keyboard.room == 1)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n// }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":1520,"y":640,"wires":[["7555f0e2.2ac7e"],[]]},{"id":"86aa4449.3e3838","type":"telegram command","z":"64399be2.de2ccc","name":"/Bathroom_floor","command":"/Bathroom_floor","bot":"befea48e.4167e8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1280,"y":640,"wires":[["98c88585.239d88"],["3a00e1e2.43ba5e"]]},{"id":"7555f0e2.2ac7e","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":640,"wires":[["8702452f.6e82d8"]]},{"id":"8702452f.6e82d8","type":"mqtt out","z":"64399be2.de2ccc","name":"","topic":"Коридор","qos":"","retain":"","broker":"1ee251b4.d53dae","x":1980,"y":720,"wires":[]},{"id":"a0aa6262.ce1bb","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\ncontext.global.keyboard = { device : '2/3' };\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1540,"y":680,"wires":[["7576885e.8e3ec8"]]},{"id":"5db0b7d7.ad5358","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == '2/3')\n// {\n\n// if (context.global.keyboard.room == 1)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n// }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":1520,"y":720,"wires":[["fa4c3fb7.0c52f"],[]]},{"id":"7c7fd703.4e7878","type":"telegram command","z":"64399be2.de2ccc","name":"/Shower_floor","command":"/Shower_floor","bot":"befea48e.4167e8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1270,"y":720,"wires":[["a0aa6262.ce1bb"],["5db0b7d7.ad5358"]]},{"id":"fa4c3fb7.0c52f","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":720,"wires":[["8702452f.6e82d8"]]},{"id":"3ea9bb71.f57804","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\ncontext.global.keyboard = { device : '3/3' };\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1540,"y":760,"wires":[["7576885e.8e3ec8"]]},{"id":"ffdde076.702fb","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(context.global.keyboard.device == '3/3')\n// {\n\n// if (context.global.keyboard.room == 1)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n// }\n}\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":1520,"y":800,"wires":[["e85056a4.aae528"],[]]},{"id":"e85056a4.aae528","type":"change","z":"64399be2.de2ccc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":800,"wires":[["8702452f.6e82d8"]]},{"id":"74b4b5b2.3eea3c","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1790,"y":1040,"wires":[]},{"id":"fc5121c5.18dd6","type":"telegram command","z":"64399be2.de2ccc","name":"Hall_floor","command":"/Hall_floor","bot":"befea48e.4167e8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1260,"y":780,"wires":[["3ea9bb71.f57804","23de6b5a.c3e0d4"],["ffdde076.702fb","cf15a0f5.e4e2c"]]},{"id":"21fd9826.d7ea48","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1800,"y":1080,"wires":[]},{"id":"cf15a0f5.e4e2c","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":920,"wires":[]},{"id":"23de6b5a.c3e0d4","type":"debug","z":"64399be2.de2ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1620,"y":880,"wires":[]},{"id":"519b2f1a.1f265","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":700,"wires":[["2e2f6c8d.86e414"]]},{"id":"8e5f7918.a289c8","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":740,"wires":[["2e2f6c8d.86e414"]]},{"id":"8667b2b3.c0af3","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/1/3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/0/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":780,"wires":[["2e2f6c8d.86e414"]]},{"id":"d1fe63b3.bb59e","type":"mqtt out","z":"bbcebd03.503cf","name":"","topic":"Коридор","qos":"","retain":"","broker":"1ee251b4.d53dae","x":1860,"y":740,"wires":[]},{"id":"2e2f6c8d.86e414","type":"debug","z":"bbcebd03.503cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":540,"wires":[]},{"id":"d353ea5e.89ee98","type":"function","z":"64399be2.de2ccc","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\ncontext.global.keyboard = { device : '77/1' };\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Поточний тиждень'],\n      ['Попередній тиждень'],\n      ['Позаминулий тиждень'],\n      ['Назад'],      ],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1540,"y":260,"wires":[["7576885e.8e3ec8"]]},{"id":"58ab8947.510bf8","type":"function","z":"64399be2.de2ccc","name":"create response","func":"if(msg.payload.content === 'Поточний тиждень')\n    {\nvar helpMessage = \"За період 22-28 листопада, відвідуваність склала - 31 234 відвідувачів.\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"День з найбільшою відвідуваністю 27 листопада (субота) - 8 134 відвідувачів.\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"В минулому році в цей тиждень, відвідуваність була - 27 362 відвідувачів.\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"День з найбільшою відвідуваністю 24 листопада (субота) - 7 215 відвідувачів.\";\n}\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":"2","noerr":0,"initialize":"","finalize":"","x":1500,"y":320,"wires":[["7576885e.8e3ec8"],[]]},{"id":"7d1ad1ee.48d36","type":"telegram command","z":"64399be2.de2ccc","name":"/test","command":"/test","bot":"befea48e.4167e8","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":1270,"y":300,"wires":[["d353ea5e.89ee98"],["58ab8947.510bf8"]]},{"id":"f4d3e745.2c8808","type":"http request","z":"bbcebd03.503cf","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":2440,"wires":[["908fb1d7.1cef5"]]},{"id":"2ba213b.c4555ec","type":"function","z":"bbcebd03.503cf","name":"","func":"let x;\nlet proportion;\nfunction counter()\n{\n    proportion=Number((msg.payload.lowPrice*100)/msg.payload.lastPrice).toFixed(3);\n    x= \"\\r\\n Current: \"+Number(msg.payload.lastPrice).toFixed(3)+\"\\r\\n Lowest Price: \"+Number(msg.payload.lowPrice).toFixed(3)+\"\\r\\n Proportion: \"+proportion;\n    return x;\n}\n\n\nswitch(msg.payload.symbol){\ncase \"ETHUSDT\":\n    global.set(\"ETH\",counter());\n    if (global.get(\"psyho_ETH\")>=msg.payload.lastPrice)\n    {msg.payload = 5;}\n    break;\n\n\ncase \"DOGEUSDT\":\n    global.set(\"DOGE\",counter());\n    if (global.get(\"psyho_DOGE\")>=msg.payload.lastPrice)\n    {msg.payload = 6;}\n    break;\n\ncase \"BTCUSDT\":\n    global.set(\"BTC\",counter());\n    if (global.get(\"psyho_BTC\")>=msg.payload.lastPrice)\n    {msg.payload = 4;}\n    break;\n\n}\n\nglobal.set(\"Symbol\",msg.payload.symbol);\n\nswitch(true)\n{\n    case (proportion < 95):\n    msg.payload = 1;\n    break;\n    case (proportion < 98):\n    msg.payload = 2;\n    break;\n    case (proportion > 99.99):\n    msg.payload = 3;\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":2480,"wires":[["6cefda64.00f034","44239b2b.057644"]]},{"id":"69037579.05f80c","type":"http request","z":"bbcebd03.503cf","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.binance.com/api/v3/ticker/24hr?symbol=ETHUSDT","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":2480,"wires":[["908fb1d7.1cef5"]]},{"id":"be161a28.533748","type":"http request","z":"bbcebd03.503cf","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.binance.com/api/v3/ticker/24hr?symbol=DOGEUSDT","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":2520,"wires":[["908fb1d7.1cef5"]]},{"id":"44239b2b.057644","type":"debug","z":"bbcebd03.503cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":2720,"wires":[]},{"id":"908fb1d7.1cef5","type":"json","z":"bbcebd03.503cf","name":"","property":"payload","action":"","pretty":false,"x":690,"y":2480,"wires":[["2ba213b.c4555ec"]]},{"id":"98c9a733.f20668","type":"telegram command","z":"64399be2.de2ccc","name":"/crypto","command":"/crypto","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":290,"y":260,"wires":[["c0271ef7.1ff4a"]]},{"id":"c0271ef7.1ff4a","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"\n\nvar helpMessage = \"BTC \" + global.get(\"BTC\")+\"\\r\\nETH \" +global.get(\"ETH\")\n+\" \\r\\nDOGE \" +global.get(\"DOGE\");\nhelpMessage += \"\\r\\n\";\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["7576885e.8e3ec8"]]},{"id":"62205894.390cf8","type":"cronplus","z":"bbcebd03.503cf","name":"","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 */10 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":300,"y":2480,"wires":[["f4d3e745.2c8808","69037579.05f80c","be161a28.533748"]]},{"id":"5bd4637f.f0442c","type":"function","z":"bbcebd03.503cf","name":"create help text","func":"var text;\nswitch (msg.payload){\n    case 1: helpMessage = \"Подорожчання \"+global.get(\"Symbol\")\n        break;\n\n    case 3: helpMessage = \"Здешевшання \"+global.get(\"Symbol\")\n        break;\n    case 4: helpMessage = \"Психологічний поріг BTC\"\n        break;\n    case 5: helpMessage = \"Психологічний поріг ETH\"\n        break;\n    case 6: helpMessage = \"Психологічний поріг DOGE\"\n        break;\n}\n\n\n\nmsg.payload = {\"chatId\":336759477,\"type\":\"message\",\"content\":helpMessage}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":2580,"wires":[["f6a1d8e2.d6e008"]]},{"id":"f6a1d8e2.d6e008","type":"telegram sender","z":"bbcebd03.503cf","name":"send response","bot":"befea48e.4167e8","haserroroutput":false,"outputs":1,"x":1240,"y":2580,"wires":[[]]},{"id":"6cefda64.00f034","type":"switch","z":"bbcebd03.503cf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1010,"y":2480,"wires":[["5bd4637f.f0442c"],[],["5bd4637f.f0442c"],["5bd4637f.f0442c"],["5bd4637f.f0442c"],["5bd4637f.f0442c"]]},{"id":"c2cf3797.a651e8","type":"telegram command","z":"64399be2.de2ccc","name":"/psyho_BTC","command":"/psyho_BTC","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":120,"wires":[["48377014.cf4e6"]]},{"id":"48377014.cf4e6","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"msg.payload.type = 'message';\nif (global.get(\"psyho_BTC\")!= \"undefined\")\n{\nmsg.payload.content = 'BTC?'+\" current = \" + global.get(\"psyho_BTC\");}\nelse {msg.payload.content = 'BTC?';}\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["6d5585cf.edb8bc"]]},{"id":"6d5585cf.edb8bc","type":"telegram sender","z":"64399be2.de2ccc","name":"send response","bot":"befea48e.4167e8","haserroroutput":false,"outputs":1,"x":700,"y":120,"wires":[["c7e3b97d.d3e748"]]},{"id":"c7e3b97d.d3e748","type":"telegram reply","z":"64399be2.de2ccc","name":"","bot":"befea48e.4167e8","x":900,"y":120,"wires":[["f43a1680.217dd8"]]},{"id":"f43a1680.217dd8","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"global.set(\"psyho_BTC\", Number(msg.payload.content));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":120,"wires":[[]]},{"id":"c33d20d4.ad9e6","type":"telegram command","z":"64399be2.de2ccc","name":"/psyho_DOGE","command":"/psyho_DOGE","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":80,"wires":[["2559c972.1bdef6"]]},{"id":"2559c972.1bdef6","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"msg.payload.type = 'message';\nif (global.get(\"psyho_DOGE\")!= \"undefined\")\n{\nmsg.payload.content = 'DOGE?'+\" current = \" + global.get(\"psyho_DOGE\");}\nelse {msg.payload.content = 'DOGE?';}\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":80,"wires":[["2b34359b.7629ca"]]},{"id":"2b34359b.7629ca","type":"telegram sender","z":"64399be2.de2ccc","name":"send response","bot":"befea48e.4167e8","haserroroutput":false,"outputs":1,"x":700,"y":80,"wires":[["f6fd3bf1.2a8308"]]},{"id":"f6fd3bf1.2a8308","type":"telegram reply","z":"64399be2.de2ccc","name":"","bot":"befea48e.4167e8","x":900,"y":80,"wires":[["fb58c44d.27f128"]]},{"id":"fb58c44d.27f128","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"global.set(\"psyho_DOGE\", Number(msg.payload.content));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":80,"wires":[[]]},{"id":"88c7110b.3d09a","type":"telegram command","z":"64399be2.de2ccc","name":"/psyho_ETH","command":"/psyho_ETH","bot":"befea48e.4167e8","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":310,"y":40,"wires":[["20a2a8a7.59e568"]]},{"id":"20a2a8a7.59e568","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"msg.payload.type = 'message';\nif (global.get(\"psyho_ETH\")!= \"undefined\")\n{\nmsg.payload.content = 'ETH?'+\" current = \" + global.get(\"psyho_ETH\");}\nelse {msg.payload.content = 'ETH?';}\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":40,"wires":[["e4ef14d.47eabe8"]]},{"id":"e4ef14d.47eabe8","type":"telegram sender","z":"64399be2.de2ccc","name":"send response","bot":"befea48e.4167e8","haserroroutput":false,"outputs":1,"x":700,"y":40,"wires":[["eddb2f86.80e7"]]},{"id":"eddb2f86.80e7","type":"telegram reply","z":"64399be2.de2ccc","name":"","bot":"befea48e.4167e8","x":900,"y":40,"wires":[["14eaf9ef.e9c2a6"]]},{"id":"14eaf9ef.e9c2a6","type":"function","z":"64399be2.de2ccc","name":"create help text","func":"global.set(\"psyho_ETH\", Number(msg.payload.content));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":40,"wires":[[]]},{"id":"3fc820ed.80feb","type":"debug","z":"bbcebd03.503cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":2260,"wires":[]},{"id":"8880563.0dae3a8","type":"inject","z":"bbcebd03.503cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"40","topic":"","payload":"","payloadType":"date","x":310,"y":2640,"wires":[["fa26bfd8.bea4"]]},{"id":"c6068e3b.adb8d","type":"http in","z":"bbcebd03.503cf","name":"/allOff","url":"/allOff","method":"get","upload":false,"swaggerDoc":"","x":530,"y":60,"wires":[["97622554.9f98e8","c89fa754.79bdc8","7c4bc21e.69021c"]]},{"id":"97622554.9f98e8","type":"http response","z":"bbcebd03.503cf","name":"","statusCode":"","headers":{},"x":670,"y":60,"wires":[]},{"id":"c89fa754.79bdc8","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":20,"wires":[["8a01e3b1.ac24d","f9171e3c.c6e42","2fcdca59.3f7586"]]},{"id":"7c4bc21e.69021c","type":"change","z":"bbcebd03.503cf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":100,"wires":[["69e6382c.5e7728","c4acabd2.dbd588"]]},{"id":"fa26bfd8.bea4","type":"http request","z":"bbcebd03.503cf","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.77:1880/allOff","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":2640,"wires":[[]]}]
