bot_pk
[{"id":"c6ee9baa.efc48","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"41a30784.da5758","type":"graphql","z":"c6ee9baa.efc48","name":"login","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"plain","template":"mutation {\n  login(login: \"380963561309\", password: \"Planetakino7\")\n}\n","x":290,"y":40,"wires":[["e1c4d426.856e9","bf935e6.953c9a","9dcb1b59.631e98"],[]]},{"id":"2d60ebe.f995f94","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":400,"wires":[]},{"id":"a0c19761.6d54e","type":"graphql","z":"c6ee9baa.efc48","name":"me","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"mustache","template":"query\n{\n  me(authToken:\"{{payload.login}}\") {\n    firstName\n    lastName\n    customerCard\n    bonuses\n  }\n\n\n}\n","x":470,"y":540,"wires":[["48a961c1.3857a","7d56d8cf.91a468"],["48a961c1.3857a"]]},{"id":"e1c4d426.856e9","type":"graphql","z":"c6ee9baa.efc48","name":"tickets","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"mustache","template":"query {\n  tickets(forceSync:true, authToken:\"{{payload.login}}\") {\n    edges {\n      node {\n        theaterName\n        hallName\n        movieDate\n        movieEndDate\n        movieName\n        transactionId\n        seats {\n          ticketBarcode\n          seatId\n          row\n          seat\n\n        }\n      }\n    }\n}\n}\n\n","x":510,"y":100,"wires":[["9dcb1b59.631e98","d6fe37b4.38b968","d0c7679.e6d1d98","ff040bd7.cecf38"],[]]},{"id":"bac3e73e.f8d568","type":"telegram command","z":"c6ee9baa.efc48","name":"","command":"/my_tickets","bot":"ba93dea6.5c7d58","strict":false,"x":60,"y":300,"wires":[["553aa337.c5cf9c"],[]]},{"id":"814df3f6.92204","type":"telegram sender","z":"c6ee9baa.efc48","name":"","bot":"ba93dea6.5c7d58","x":1330,"y":360,"wires":[[]]},{"id":"9dcb1b59.631e98","type":"function","z":"c6ee9baa.efc48","name":"","func":"if (msg.payload.chatId == undefined) {msg.payload.chatId =msg.login.originalMessage.chat.id;}\n//if (msg.payload.login == undefined) {msg.payload.login = msg.login.payload.login}\nif( msg.payload.cycle == undefined ) {msg.payload.cycle = 0;}\n\n\n\nvar ed = msg.payload.tickets.edges.length;\n//var seats = msg.payload.tickets.edges[edges].node.seats.length\nfor (var i = msg.payload.cycle; i<ed;i++)\n{msg.payload.cycle=i;\n    var seat = msg.payload.tickets.edges[i].node.seats.length\n    for(var x=0; x<seat;x++)\n    {\n   \n   \n   \n   msg.payload = {\n  login : msg.payload.login,\n  tickets:msg.payload.tickets,\n  qr : msg.payload.qr,\n  //chatId : 336759477,\n  chatId : msg.payload.chatId,\n  //login:msg.login.payload.login,\n  type : \"message\",\n  allTickets: msg.payload.tickets.edges.length,\n  cycle: msg.payload.cycle,\n  content : msg.payload.tickets.edges[i].node.seats[x].ticketBarcode\n    \n};\nreturn msg; \n\n    }\n    \n   \n}","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["88f1cba8.39c808","814df3f6.92204","96d33ff.f787dc","d6fe37b4.38b968"]]},{"id":"553aa337.c5cf9c","type":"function","z":"c6ee9baa.efc48","name":"","func":"msg.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":300,"wires":[["9dcb1b59.631e98","41a30784.da5758"]]},{"id":"50b77629.d13da8","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":160,"wires":[]},{"id":"88f1cba8.39c808","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":200,"wires":[]},{"id":"48a961c1.3857a","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":560,"wires":[]},{"id":"eee2d68.73cbd28","type":"qrDecode","z":"c6ee9baa.efc48","name":"","input":"payload.tickets.edges[0].node.transactionId","output":"payload.qr","pptTypeIn":"msg","pptTypeOut":"msg","x":670,"y":40,"wires":[[]]},{"id":"4979fd04.5ad384","type":"http in","z":"c6ee9baa.efc48","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":1240,"y":40,"wires":[["d6fe37b4.38b968"]]},{"id":"d6fe37b4.38b968","type":"template","z":"c6ee9baa.efc48","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style>\n            #qrcode {\n  width:160px;\n  height:160px;\n  margin-top:15px;\n}\n#text {\n  display: block;\n  width: 80%;\n}\n        </style>\n        <script src=\"http://davidshimjs.github.com/qrcodejs/qrcode.min.js\"></script>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n\n\n        \n    </head>\n    <body>\n<input id=\"text\" type=\"hidden\" value={{payload.content}} />\n\n<div id=\"qrcode\"></div>\n        <script>\n        var qrcode = new QRCode(\"qrcode\");\n\n$(\"#text\").on(\"keyup\", function () {\n    qrcode.makeCode($(this).val());\n}).keyup().focus();\n        </script>\n<!-- Post Info -->\n<div style='position:fixed;bottom:0;left:0;    \n            background:lightgray;width:100%;'>\n<div>\n        </body>\n</html>","x":1230,"y":100,"wires":[["7adcfe11.3e63f","814df3f6.92204"]]},{"id":"7adcfe11.3e63f","type":"http response","z":"c6ee9baa.efc48","name":"","statusCode":"","headers":{},"x":1170,"y":220,"wires":[]},{"id":"96d33ff.f787dc","type":"function","z":"c6ee9baa.efc48","name":"","func":"if ( msg.payload.cycle < msg.payload.allTickets ) { msg.payload.cycle++;\n\n    msg.chatId = msg.payload.chatId;\nmsg.login = msg.payload.login;\n//msg.payload.tickets\n\n\nmsg.payload = {\n\nchatId : msg.payload.chatId,\nlogin : msg.payload.login,\ntickets : msg.payload.tickets,\ncycle: msg.payload.cycle\n}\n}\n\n\nelse {msg.payload.message = \"fasle\"}\n\n\n\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["2d60ebe.f995f94","9dcb1b59.631e98","50b77629.d13da8"]]},{"id":"bf935e6.953c9a","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":20,"wires":[]},{"id":"5a1a4081.062f9","type":"telegram command","z":"c6ee9baa.efc48","name":"","command":"/my_info","bot":"ba93dea6.5c7d58","strict":false,"x":60,"y":540,"wires":[["f65d0060.16733"],[]]},{"id":"f65d0060.16733","type":"function","z":"c6ee9baa.efc48","name":"","func":"msg.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["a0c19761.6d54e","4dc239ce.eb7b68"]]},{"id":"d0c7679.e6d1d98","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":80,"wires":[]},{"id":"ff040bd7.cecf38","type":"debug","z":"c6ee9baa.efc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"login","x":900,"y":120,"wires":[]},{"id":"7d56d8cf.91a468","type":"function","z":"c6ee9baa.efc48","name":"","func":"if (msg.payload.chatId == undefined) {msg.payload.chatId =msg.login.originalMessage.chat.id;}\n\ncontent = msg.payload.me.firstName +\"                                                \"+msg.payload.me.lastName +\"                                              \"+ msg.payload.me.customerCard;\n\n\n   msg.payload = {\n  chatId : msg.payload.chatId,\n  type : \"message\",\n\n  content : content\n    \n};\nreturn msg; \n\n\n    \n   \n","outputs":1,"noerr":0,"x":630,"y":500,"wires":[["814df3f6.92204"]]},{"id":"4dc239ce.eb7b68","type":"graphql","z":"c6ee9baa.efc48","name":"login","graphql":"25c261e6.398ea6","format":"handlebars","syntax":"plain","template":"mutation {\n  login(login: \"380963561309\", password: \"Planetakino7\")\n}\n","x":370,"y":440,"wires":[["a0c19761.6d54e"],[]]},{"id":"25c261e6.398ea6","type":"graphql-server","z":"","endpoint":"https://graphql.planetakino.ua/graphql","name":"Planeta"},{"id":"ba93dea6.5c7d58","type":"telegram bot","z":"","botname":"TestBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"10"}]
