flows_raspberrypi.json
[{"id":"6c7b1db.12230e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f83a831.30ab38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"73bc4740.151cb8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ca0779.9ff38888","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"d5dc3949.ddabe8","type":"mqtt-broker","z":"","name":"main","broker":"192.168.0.77","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a2c2462a.cbde58","type":"ui_tab","z":"","name":"Кухня","icon":"dashboard"},{"id":"cec285a.0503678","type":"ui_group","z":"","name":"Main","tab":"313cbdf5.1ac282","disp":false,"width":"6","collapse":false},{"id":"9e64a919.9f35e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"313cbdf5.1ac282","type":"ui_tab","z":"","name":"Спальня","icon":"dashboard","order":2},{"id":"80975444.538018","type":"ui_group","z":"","name":"main2","tab":"a2c2462a.cbde58","disp":false,"width":"6","collapse":false},{"id":"b6a6dc49.c4c6","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"shc","name":""},{"id":"31530a83.b60746","type":"telegram bot","z":"","botname":"SHC","usernames":"","chatids":"","baseapiurl":"","pollinterval":"10"},{"id":"1d8ee8e.6995c17","type":"mqtt-broker","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"9f000ba0.491078","type":"telegram bot","z":"7f83a831.30ab38","botname":"FrogeyeBot"},{"id":"f5011f4c.2d58a","type":"telegram bot","z":"7f83a831.30ab38","botname":"FrogeyeBot"},{"id":"498b660f.ad9d08","type":"telegram bot","z":"7f83a831.30ab38","botname":"FrogeyeBot"},{"id":"4afbde38.cf5ab","type":"telegram bot","z":"7f83a831.30ab38","botname":"FrogeyeBot"},{"id":"18c84513.79a07b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4c432ff3.fafda","type":"ui_tab","z":"","name":"Тепла підлога","icon":"dashboard","order":3},{"id":"67600cf1.4e9e64","type":"ui_group","z":"","name":"ТП","tab":"4c432ff3.fafda","disp":true,"width":"6","collapse":false},{"id":"93814671.3a5e38","type":"graphql-server","z":"","endpoint":"https://graphql.planetakino.ua/graphql","name":"Planeta"},{"id":"d9f4db7c.3179d8","type":"graphql-server","z":"","endpoint":"http://gstephens.org:4000/","name":"gstephens"},{"id":"190288e7.df8947","type":"websocket-listener","z":"ca0779.9ff38888","path":"/ws/simple","wholemsg":"false"},{"id":"f21e6195.63449","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"705127fa.0916a8","type":"mqtt in","z":"6c7b1db.12230e4","name":"","topic":"Кухня/Температура","qos":"2","broker":"d5dc3949.ddabe8","x":470,"y":520,"wires":[["f21e6195.63449","dce917ff.ae8d08","df553a11.99bc58","7b35548b.b265bc","381220f4.f3c1c","212968b.f9b4498"]]},{"id":"4173a409.8a89ac","type":"mqtt in","z":"6c7b1db.12230e4","name":"","topic":"Спальня/Температура","qos":"2","broker":"d5dc3949.ddabe8","x":480,"y":580,"wires":[["f21e6195.63449","dce917ff.ae8d08","a53ecad8.625468","7b35548b.b265bc","212968b.f9b4498","5318cd4.1d6ce34"]]},{"id":"dce917ff.ae8d08","type":"ui_chart","z":"6c7b1db.12230e4","name":"","group":"cec285a.0503678","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1010,"y":560,"wires":[[],[]]},{"id":"40412c72.e6a8d4","type":"mqtt out","z":"6c7b1db.12230e4","name":"","topic":"Кухня","qos":"","retain":"","broker":"d5dc3949.ddabe8","x":630,"y":940,"wires":[]},{"id":"df553a11.99bc58","type":"ui_text","z":"6c7b1db.12230e4","group":"80975444.538018","order":2,"width":"0","height":"0","name":"","label":"Кухня","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":640,"wires":[]},{"id":"a53ecad8.625468","type":"ui_text","z":"6c7b1db.12230e4","group":"cec285a.0503678","order":5,"width":"0","height":"0","name":"","label":"Спальня","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":700,"wires":[]},{"id":"7b35548b.b265bc","type":"ui_chart","z":"6c7b1db.12230e4","name":"","group":"80975444.538018","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1070,"y":820,"wires":[[],[]]},{"id":"6cd235fc.c3cfac","type":"ui_switch","z":"6c7b1db.12230e4","name":"","label":"Кухня/Підлога","group":"80975444.538018","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":980,"wires":[["5cbe4a85.cdd0e4","f04768ed.678b88"]]},{"id":"5cbe4a85.cdd0e4","type":"change","z":"6c7b1db.12230e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":980,"wires":[["6fed6102.52b01","40412c72.e6a8d4"]]},{"id":"6fed6102.52b01","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1020,"wires":[]},{"id":"2e043bdd.3fa2f4","type":"mqtt out","z":"6c7b1db.12230e4","name":"","topic":"Спальня","qos":"","retain":"","broker":"d5dc3949.ddabe8","x":550,"y":1100,"wires":[]},{"id":"9e8ea021.c9d32","type":"ui_switch","z":"6c7b1db.12230e4","name":"","label":"Світло","group":"cec285a.0503678","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":1100,"wires":[["2b3c1586.60dfca","97e4c659.17b928"]]},{"id":"2b3c1586.60dfca","type":"change","z":"6c7b1db.12230e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/0/5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/1/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1100,"wires":[["2e043bdd.3fa2f4","6fed6102.52b01"]]},{"id":"6358525a.e2c5fc","type":"mongodb in","z":"6c7b1db.12230e4","mongodb":"b6a6dc49.c4c6","name":"","collection":"rooms","operation":"find","x":800,"y":120,"wires":[["e3d9ddd2.cb5e","e8e406a.1401ff8"]]},{"id":"e3d9ddd2.cb5e","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":240,"wires":[]},{"id":"e8e406a.1401ff8","type":"http response","z":"6c7b1db.12230e4","name":"","statusCode":"","headers":{},"x":1270,"y":140,"wires":[]},{"id":"7bbd2ab4.9c5ae4","type":"mongodb in","z":"6c7b1db.12230e4","mongodb":"b6a6dc49.c4c6","name":"","collection":"controllers","operation":"find","x":810,"y":180,"wires":[["e3d9ddd2.cb5e","e8e406a.1401ff8"]]},{"id":"ba4b1530.88c948","type":"http in","z":"6c7b1db.12230e4","name":"/controllers","url":"/controllers","method":"get","upload":false,"swaggerDoc":"","x":400,"y":180,"wires":[["6161ce76.50a71"]]},{"id":"6161ce76.50a71","type":"template","z":"6c7b1db.12230e4","name":"controllers","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>test1</title>\n</head>\n<body>testing here...</body>\n</html>","output":"str","x":590,"y":180,"wires":[["7bbd2ab4.9c5ae4"]]},{"id":"dfa9e7b8.55e388","type":"template","z":"6c7b1db.12230e4","name":"rooms","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>test1</title>\n</head>\n<body>testing here...</body>\n</html>","output":"str","x":570,"y":120,"wires":[["6358525a.e2c5fc"]]},{"id":"e204d66.e6d3b28","type":"mongodb out","z":"6c7b1db.12230e4","mongodb":"b6a6dc49.c4c6","name":"","collection":"statistic","payonly":false,"upsert":true,"multi":false,"operation":"insert","x":1200,"y":420,"wires":[]},{"id":"2f02995.92c6f66","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":360,"wires":[]},{"id":"e4ac1f91.e637d","type":"http in","z":"6c7b1db.12230e4","name":"/rooms","url":"/rooms","method":"get","upload":false,"swaggerDoc":"","x":390,"y":120,"wires":[["dfa9e7b8.55e388"]]},{"id":"381220f4.f3c1c","type":"function","z":"6c7b1db.12230e4","name":"","func":"\nglobal.set(\"Kitchen_temp\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["43b54161.e4037"]]},{"id":"43b54161.e4037","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":340,"wires":[]},{"id":"4efccf5d.922ad","type":"mongodb in","z":"6c7b1db.12230e4","mongodb":"b6a6dc49.c4c6","name":"","collection":"statistic","operation":"find","x":800,"y":240,"wires":[["e8e406a.1401ff8","e3d9ddd2.cb5e"]]},{"id":"3e6b58e1.713788","type":"http in","z":"6c7b1db.12230e4","name":"/statistic","url":"/statistic","method":"get","upload":false,"swaggerDoc":"","x":400,"y":240,"wires":[["5d824f31.f0813"]]},{"id":"5d824f31.f0813","type":"template","z":"6c7b1db.12230e4","name":"statistic","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>test1</title>\n</head>\n<body>testing here...</body>\n</html>","output":"str","x":580,"y":240,"wires":[["4efccf5d.922ad"]]},{"id":"212968b.f9b4498","type":"change","z":"6c7b1db.12230e4","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"retain","pt":"msg"},{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":440,"wires":[["2f02995.92c6f66","54cd7ab8.aa11b4"]]},{"id":"54cd7ab8.aa11b4","type":"delay","z":"6c7b1db.12230e4","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":440,"wires":[["e204d66.e6d3b28"]]},{"id":"5318cd4.1d6ce34","type":"function","z":"6c7b1db.12230e4","name":"","func":"\nglobal.set(\"Badroom_temp\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["893ca16e.e9604"]]},{"id":"893ca16e.e9604","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":380,"wires":[]},{"id":"3525f22b.e7e3ae","type":"telegram sender","z":"7f83a831.30ab38","name":"send response","bot":"31530a83.b60746","x":1100,"y":200,"wires":[[]]},{"id":"2c577e3e.6ddb12","type":"telegram command","z":"7f83a831.30ab38","name":"/status","command":"/status","bot":"31530a83.b60746","x":290,"y":220,"wires":[["eb66b611.159d48"],[]]},{"id":"eb66b611.159d48","type":"function","z":"7f83a831.30ab38","name":"create help text","func":"var kitchen_temp = global.get(\"Kitchen_temp\");\nvar badroom_temp = global.get(\"Badroom_temp\");\nvar badroom_light = global.get(\"Badroom_light\");\nvar kitchen_floor = global.get(\"Kitchen_floor\");\nvar kitchen_light = global.get(\"Kitchen_light\");\nvar kitchen_light_main = global.get(\"Kitchen_light_main\");\nvar kitchen_light_table = global.get(\"Kitchen_light_table\");\n\nvar helpMessage = \"Температура в кухні - \" + kitchen_temp;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Температура в спальні - \" + badroom_temp;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Підлога в кухні - \" + kitchen_floor;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Люстра в кухні - \" + kitchen_light_main;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Світло в кухні над стільницею - \" + kitchen_light_table;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Світло в кухні - \" + kitchen_light;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Світло в спальні - \" + badroom_light;\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n\";\n\nhelpMessage += \"/kitchen_floor - підлога в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/badroom_light - світло в спальні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_light - світло в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_light_main - Люстра в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_light_table - Світло над стільницею\";\n\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["3525f22b.e7e3ae"]]},{"id":"88357274.e492a","type":"function","z":"6c7b1db.12230e4","name":"Badroom_light","func":"\nglobal.set(\"Badroom_light\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1720,"wires":[["ea449a46.d6e978"]]},{"id":"1bdb247d.b4b24c","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":1320,"wires":[]},{"id":"198eb513.fb0c5b","type":"function","z":"6c7b1db.12230e4","name":"Kitchen_floor","func":"\nglobal.set(\"Kitchen_floor\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1320,"wires":[["1bdb247d.b4b24c"]]},{"id":"ea449a46.d6e978","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":1720,"wires":[]},{"id":"f04768ed.678b88","type":"change","z":"6c7b1db.12230e4","name":"Кухня/Підлога","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/1/0","fromt":"str","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/1/1","fromt":"str","to":"Вкл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1320,"wires":[["58548283.7b73fc","198eb513.fb0c5b"]]},{"id":"97e4c659.17b928","type":"change","z":"6c7b1db.12230e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/5/1/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/5/1/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1720,"wires":[["88357274.e492a"]]},{"id":"a2f08e0e.d9e6a","type":"mqtt in","z":"6c7b1db.12230e4","name":"Кухня","topic":"Кухня","qos":"2","broker":"d5dc3949.ddabe8","x":110,"y":1360,"wires":[["c01ab58.717e748"]]},{"id":"9cc3540d.65c968","type":"mqtt in","z":"6c7b1db.12230e4","name":"","topic":"Спальня","qos":"2","broker":"d5dc3949.ddabe8","x":120,"y":1720,"wires":[["97e4c659.17b928","12ba863d.9dd9da"]]},{"id":"7855c634.a8f2b8","type":"telegram command","z":"7f83a831.30ab38","name":"/kitchen_floor","command":"/kitchen_floor","bot":"31530a83.b60746","x":310,"y":500,"wires":[["3e5b89f.f140276"],["cc4db50.5a44e48"]]},{"id":"c71529ef.209d88","type":"mqtt out","z":"7f83a831.30ab38","name":"","topic":"Кухня","qos":"","retain":"","broker":"d5dc3949.ddabe8","x":1110,"y":700,"wires":[]},{"id":"d756c077.87559","type":"change","z":"7f83a831.30ab38","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":480,"wires":[["c71529ef.209d88"]]},{"id":"3e5b89f.f140276","type":"function","z":"7f83a831.30ab38","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { room : 1 };\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":580,"y":460,"wires":[["3525f22b.e7e3ae"]]},{"id":"cc4db50.5a44e48","type":"function","z":"7f83a831.30ab38","name":"create response","func":"if (context.global.keyboard.room == 1)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return msg;  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return msg;  \n    }\n}\n","outputs":"2","noerr":0,"x":560,"y":500,"wires":[["d756c077.87559"],[]]},{"id":"1581899f.877cd6","type":"telegram command","z":"7f83a831.30ab38","name":"/badroom_light","command":"/badroom_light","bot":"31530a83.b60746","x":300,"y":1100,"wires":[["33d29943.1e8c16"],["2b6a326a.6f4b9e"]]},{"id":"2b6a326a.6f4b9e","type":"function","z":"7f83a831.30ab38","name":"create response","func":"if(context.global.keyboard.room == 5)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"x":520,"y":1140,"wires":[["ff8df1c7.330b2"],[]]},{"id":"d66bdb95.3f96c8","type":"mqtt out","z":"7f83a831.30ab38","name":"","topic":"Спальня","qos":"","retain":"","broker":"d5dc3949.ddabe8","x":1000,"y":1120,"wires":[]},{"id":"ff8df1c7.330b2","type":"change","z":"7f83a831.30ab38","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1/0/5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1/1/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1120,"wires":[["d66bdb95.3f96c8"]]},{"id":"33d29943.1e8c16","type":"function","z":"7f83a831.30ab38","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { room : 5 };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":540,"y":1100,"wires":[["3525f22b.e7e3ae"]]},{"id":"58548283.7b73fc","type":"switch","z":"6c7b1db.12230e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"Вкл","vt":"num","v2":"Викл","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1220,"wires":[["96c4e244.19ddf"]]},{"id":"b65913d3.24a4e","type":"inject","z":"7f83a831.30ab38","name":"","topic":"true","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":600,"wires":[[]]},{"id":"96c4e244.19ddf","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1220,"wires":[]},{"id":"5a50df76.f12b5","type":"inject","z":"7f83a831.30ab38","name":"","topic":"false","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":640,"wires":[[]]},{"id":"12ba863d.9dd9da","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":1660,"wires":[]},{"id":"94d12495.0c5ed8","type":"telegram command","z":"7f83a831.30ab38","name":"/start","command":"/start","bot":"31530a83.b60746","x":290,"y":160,"wires":[["e4e1385d.a185f8"],[]]},{"id":"e4e1385d.a185f8","type":"function","z":"7f83a831.30ab38","name":"create help text","func":"\nvar helpMessage =  \"Раді вас вітати!\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/status - загальна інформація про систему\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/kitchen_floor - підлога в кухні\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/badroom_light - світло в спальні\";\n\n\n\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["3525f22b.e7e3ae"]]},{"id":"c62c3a91.3b59e8","type":"ui_switch","z":"6c7b1db.12230e4","name":"","label":"Кухня/Світло Стільниця","group":"80975444.538018","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":920,"wires":[["29fc2252.37298e","9bfb50ae.a5f67"]]},{"id":"29fc2252.37298e","type":"change","z":"6c7b1db.12230e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":900,"wires":[["40412c72.e6a8d4"]]},{"id":"f910f633.027778","type":"telegram command","z":"7f83a831.30ab38","name":"/kitchen_light_table","command":"/kitchen_light_table","bot":"31530a83.b60746","x":330,"y":740,"wires":[["609ad07.92ebc3"],["4d410e28.390ec"]]},{"id":"4d410e28.390ec","type":"function","z":"7f83a831.30ab38","name":"create response","func":"if(context.global.keyboard.room == 1)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"x":540,"y":760,"wires":[["c2c85be6.247578"],[]]},{"id":"609ad07.92ebc3","type":"function","z":"7f83a831.30ab38","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { room : 1 };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":560,"y":720,"wires":[["3525f22b.e7e3ae"]]},{"id":"c2c85be6.247578","type":"change","z":"7f83a831.30ab38","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"2/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":740,"wires":[["c71529ef.209d88"]]},{"id":"c01ab58.717e748","type":"switch","z":"6c7b1db.12230e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"o/1/1/0","vt":"str"},{"t":"eq","v":"o/1/1/1","vt":"str"},{"t":"eq","v":"o/1/2/0","vt":"str"},{"t":"eq","v":"o/1/2/1","vt":"str"},{"t":"eq","v":"o/1/3/0","vt":"str"},{"t":"eq","v":"o/1/3/1","vt":"str"},{"t":"eq","v":"o/1/4/0","vt":"str"},{"t":"eq","v":"o/1/4/1","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":310,"y":1360,"wires":[["f04768ed.678b88"],["f04768ed.678b88"],["9bfb50ae.a5f67"],["9bfb50ae.a5f67"],["ad19ceed.5a648"],["ad19ceed.5a648"],["c631d763.7209c"],["c631d763.7209c"]]},{"id":"b3613c06.3da7b","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":1360,"wires":[]},{"id":"a419e11f.5f41d","type":"function","z":"6c7b1db.12230e4","name":"Kitchen_light_table","func":"\nglobal.set(\"Kitchen_light_table\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1360,"wires":[["b3613c06.3da7b"]]},{"id":"9bfb50ae.a5f67","type":"change","z":"6c7b1db.12230e4","name":"Кухня/Світло","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/2/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/2/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1360,"wires":[["a419e11f.5f41d"]]},{"id":"aa68feb9.50e45","type":"ui_switch","z":"6c7b1db.12230e4","name":"","label":"Кухня/Світло Підсвітка","group":"80975444.538018","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":860,"wires":[["13474fac.d79a9","ad19ceed.5a648"]]},{"id":"13474fac.d79a9","type":"change","z":"6c7b1db.12230e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":860,"wires":[["40412c72.e6a8d4"]]},{"id":"a94c3283.38ce6","type":"ui_switch","z":"6c7b1db.12230e4","name":"","label":"Кухня/Світло Люстра","group":"80975444.538018","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":800,"wires":[["287651a0.bedc2e","c631d763.7209c"]]},{"id":"287651a0.bedc2e","type":"change","z":"6c7b1db.12230e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"4/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"4/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":800,"wires":[["40412c72.e6a8d4"]]},{"id":"31f3d29a.c52dde","type":"telegram command","z":"7f83a831.30ab38","name":"/kitchen_main","command":"/kitchen_light_main","bot":"31530a83.b60746","x":310,"y":920,"wires":[["d19aeff.a2f891"],["bf9dcc14.07fd6"]]},{"id":"d19aeff.a2f891","type":"function","z":"7f83a831.30ab38","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { device : '4/1' };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":560,"y":880,"wires":[["3525f22b.e7e3ae"]]},{"id":"bf9dcc14.07fd6","type":"function","z":"7f83a831.30ab38","name":"create response","func":"if(context.global.keyboard.device == '4/1')\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"x":540,"y":940,"wires":[["8a0cd5a1.9a29b8"],[]]},{"id":"8a0cd5a1.9a29b8","type":"change","z":"7f83a831.30ab38","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"4/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"4/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":940,"wires":[["c71529ef.209d88"]]},{"id":"3dea9477.c36494","type":"telegram command","z":"7f83a831.30ab38","name":"/kitchen_light","command":"/kitchen_light","bot":"31530a83.b60746","x":310,"y":1060,"wires":[["65d2d793.33b808"],["e3e39b11.e71cf8"]]},{"id":"65d2d793.33b808","type":"function","z":"7f83a831.30ab38","name":"confirmation message","func":"context.global.keyboard = { pending : true };\ncontext.global.keyboard = { device : '3/1' };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Вкл'],\n      ['Викл']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.content = \"Змінити статус\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":560,"y":1020,"wires":[["3525f22b.e7e3ae"]]},{"id":"e3e39b11.e71cf8","type":"function","z":"7f83a831.30ab38","name":"create response","func":"if(context.global.keyboard.device == '3/1')\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Вкл')\n    {\n        msg.payload = true;\n            return [msg, null];  \n    }\n    if(msg.payload.content === 'Викл')\n    {\n        msg.payload = false;\n            return [msg, null];  \n    }\n}\n","outputs":"2","noerr":0,"x":540,"y":1060,"wires":[["88e6f23f.e03a28"],[]]},{"id":"88e6f23f.e03a28","type":"change","z":"7f83a831.30ab38","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"3/1/1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"3/0/1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1080,"wires":[["c71529ef.209d88"]]},{"id":"af147ad8.5ef648","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1400,"wires":[]},{"id":"f1d1ffe9.e31738","type":"function","z":"6c7b1db.12230e4","name":"kitchen_light","func":"\nglobal.set(\"Kitchen_light\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1400,"wires":[["af147ad8.5ef648"]]},{"id":"ad19ceed.5a648","type":"change","z":"6c7b1db.12230e4","name":"Кухня/Світло","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/3/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/3/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1400,"wires":[["f1d1ffe9.e31738"]]},{"id":"c4813bfd.3dfc2","type":"debug","z":"6c7b1db.12230e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1440,"wires":[]},{"id":"9200e108.41389","type":"function","z":"6c7b1db.12230e4","name":"Kitchen_light_main","func":"\nglobal.set(\"Kitchen_light_main\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1440,"wires":[["c4813bfd.3dfc2"]]},{"id":"c631d763.7209c","type":"change","z":"6c7b1db.12230e4","name":"Кухня/Світло","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Викл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/4/0","fromt":"str","to":"Вкл","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"o/1/4/1","fromt":"str","to":"Викл","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1440,"wires":[["9200e108.41389"]]},{"id":"4e6401e3.8b1088","type":"http request","z":"7f83a831.30ab38","name":"controllers","method":"GET","ret":"txt","url":"192.168.0.77:1880/controllers","tls":"","x":370,"y":300,"wires":[["f72b8ab.42e5578"]]},{"id":"596cd924.53ee58","type":"debug","z":"7f83a831.30ab38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":320,"wires":[]},{"id":"f51ad933.cb2c38","type":"function","z":"7f83a831.30ab38","name":"","func":"global.set(\"Kitchen_light_table\", msg.payload[3].state);\n//return msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["596cd924.53ee58"]]},{"id":"87b4d250.c6e118","type":"inject","z":"7f83a831.30ab38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["4e6401e3.8b1088"]]},{"id":"d02f305b.9666f8","type":"mqtt in","z":"7f83a831.30ab38","name":"","topic":"sensors/#","qos":"2","broker":"18c84513.79a07b","x":940,"y":120,"wires":[[]]},{"id":"2f22d6de.5e02aa","type":"debug","z":"7f83a831.30ab38","name":"","active":true,"console":"false","complete":"false","x":1210,"y":120,"wires":[]},{"id":"39d26454.94195c","type":"mqtt out","z":"7f83a831.30ab38","name":"","topic":"sensors/livingroom/temp","qos":"","retain":"false","broker":"18c84513.79a07b","x":990,"y":60,"wires":[]},{"id":"3125ac54.4aca6c","type":"inject","z":"7f83a831.30ab38","name":"temp json","topic":"","payload":"{\"sensor_id\":1234,\"temperature\":13}","payloadType":"json","repeat":"","crontab":"","once":false,"x":800,"y":60,"wires":[["39d26454.94195c"]]},{"id":"f72b8ab.42e5578","type":"json","z":"7f83a831.30ab38","name":"","property":"payload","action":"","pretty":false,"x":550,"y":300,"wires":[["f51ad933.cb2c38"]]},{"id":"c3613d9.d3c25c","type":"mqtt in","z":"6c7b1db.12230e4","name":"СанВузолВеликий/Температура","topic":"СанВузолВеликий/Температура","qos":"2","broker":"d5dc3949.ddabe8","x":510,"y":640,"wires":[["85810b89.9b1da8","f21e6195.63449","212968b.f9b4498"]]},{"id":"85810b89.9b1da8","type":"ui_chart","z":"6c7b1db.12230e4","name":"","group":"67600cf1.4e9e64","order":1,"width":0,"height":0,"label":"Температура","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1100,"y":900,"wires":[[],[]]},{"id":"aaf4bf15.61bab","type":"mqtt in","z":"6c7b1db.12230e4","name":"СанВузолМалий/Температура","topic":"СанВузолМалий/Температура","qos":"2","broker":"d5dc3949.ddabe8","x":510,"y":680,"wires":[["85810b89.9b1da8","f21e6195.63449","212968b.f9b4498"]]},{"id":"e41f801a.5c754","type":"mqtt in","z":"6c7b1db.12230e4","name":"Коридор/Температура","topic":"Коридор/Температура","qos":"2","broker":"d5dc3949.ddabe8","x":480,"y":720,"wires":[["85810b89.9b1da8","f21e6195.63449","212968b.f9b4498"]]},{"id":"1d503dc3.74fec2","type":"graphql","z":"73bc4740.151cb8","name":"login","graphql":"93814671.3a5e38","format":"handlebars","syntax":"plain","template":"mutation {\n  login(login: \"380963561309\", password: \"Planetakino7\")\n}\n","x":430,"y":80,"wires":[[],[]]},{"id":"eb65f087.0e3f","type":"debug","z":"73bc4740.151cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":120,"wires":[]},{"id":"9d0b49e1.bf2bc8","type":"inject","z":"73bc4740.151cb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["c149f471.91a5c8"]]},{"id":"c149f471.91a5c8","type":"graphql","z":"73bc4740.151cb8","name":"me","graphql":"93814671.3a5e38","format":"handlebars","syntax":"mustache","template":"query\n{\n  me(authToken:\"Bearer_EW29ST2Ses_096p--R8dm6itsp-K20yb\") {\n    firstName\n    lastName\n\n    bonuses\n  }\n\n\n}\n","x":310,"y":140,"wires":[["eb65f087.0e3f","2e0bfa0.dc0a506"],[]]},{"id":"1453ee01.c99e72","type":"function","z":"73bc4740.151cb8","name":"","func":"\nif (msg.payload.tickets === null){\n    alert('asd');\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[[]]},{"id":"ec385662.ce7dc8","type":"graphql","z":"73bc4740.151cb8","name":"tickets","graphql":"93814671.3a5e38","format":"handlebars","syntax":"mustache","template":"query {\n  tickets(forceSync:true, authToken:\"Beare_EW29ST2Ses_096p--R8dm6itsp-K20yb\") {\n    edges {\n      node {\n        theaterName\n        hallName\n        movieDate\n        movieEndDate\n        movieName\n        transactionId\n      }\n    }\n}\n}","x":410,"y":340,"wires":[["1453ee01.c99e72"],[]]},{"id":"2e0bfa0.dc0a506","type":"function","z":"73bc4740.151cb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["1c7a3a67.ccea56"]]},{"id":"1c7a3a67.ccea56","type":"template","z":"73bc4740.151cb8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>info</title>\n    <script type=\"text/javascript\">\n            var firstName = \"{{payload.me.firstName}}\";\n            var lastName = \"{{payload.me.lastName}}\";\n\n            if (firstName!== null){\n\n    document.getElementById(\"firstName\").innerHTML=firstName;\n    \n    document.getElementById(\"lastName\").innerHTML=lastName;\n\n    \n}\nelse {\n    document.getElementById(\"erorr\").innerHTML=\"Щось пішло не так!\";\n\n}\n        </script>\n    </head>\n    <body>\n        <div id=erorr></div>\n        <div id=firstName></div>\n        <div id=lastName></div>\n        \n    </body>\n</html>","output":"str","x":770,"y":200,"wires":[["6e9b0dd7.9ee5c4"]]},{"id":"21695cfa.6cf424","type":"http in","z":"73bc4740.151cb8","name":"/myInfo","url":"/myInfo","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["c149f471.91a5c8"]]},{"id":"6e9b0dd7.9ee5c4","type":"http response","z":"73bc4740.151cb8","name":"","statusCode":"","headers":{},"x":960,"y":220,"wires":[]},{"id":"3f85bc6d.53b2a4","type":"inject","z":"ca0779.9ff38888","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":390,"y":200,"wires":[["6ee28823.551528"]]},{"id":"6bced3c.5af4b2c","type":"websocket out","z":"ca0779.9ff38888","name":"","server":"190288e7.df8947","client":"","x":790,"y":200,"wires":[]},{"id":"84d87c7c.0e914","type":"http response","z":"ca0779.9ff38888","name":"","x":761,"y":140,"wires":[]},{"id":"16386eba.52a101","type":"http in","z":"ca0779.9ff38888","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":392,"y":140,"wires":[["742ae9cc.fa7428"]]},{"id":"742ae9cc.fa7428","type":"template","z":"ca0779.9ff38888","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":589,"y":140,"wires":[["84d87c7c.0e914"]]},{"id":"6ee28823.551528","type":"function","z":"ca0779.9ff38888","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":200,"wires":[["6bced3c.5af4b2c"]]},{"id":"5f7198c0.889218","type":"websocket in","z":"ca0779.9ff38888","name":"","server":"190288e7.df8947","client":"","x":577,"y":252,"wires":[["518d0441.a4204c"]]},{"id":"518d0441.a4204c","type":"debug","z":"ca0779.9ff38888","name":"","active":true,"console":"false","complete":"false","x":767,"y":252,"wires":[]},{"id":"fc8caf5f.29b29","type":"template","z":"73bc4740.151cb8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":780,"y":260,"wires":[[]]}]